$_context: slave;
@import '../../../lib/scss/silexhibit.bootstrap.scss';

.st-slideshow {
  .st-slide {
    > img {
      display: inline;
      margin-bottom: 0;
      width: auto;
    }
    line-height: 0;
    text-align: center;
  }
  .st-metas {
    margin-left: 0;
  }
  .meta {
    display: none;
    list-style: none;
    text-align: left;
    span {
      display: block;
    }
  }
  .st-autoplay-status {
    .icon-play { display: none; }
    .icon-pause { display: block; }
  }
  &.st-playing .st-autoplay-status {
    .icon-play { display: block; }
    .icon-pause { display: none; }
  }
  .st-nav {
    @extend %clearfix;
    .st-autoplay-status {
      float: right;
      margin-top: 4px;
    }
  }
}
