<style type="text/css">
    .log,
    .tests {
        padding-left: 280px;
        text-align: left;
        background: black;
        color: rgb(0,255,0);
        font: normal 11px/15px 'Consolas', 'Anonymous Pro', monospace;
    }
</style>