<a href="{{copyright.license_url}}" title="{{copyright.tip}}" class="copyright-symbol">&copy;</a>
{{copyright.start_year}}&ndash;{{current_year}}
<a href="mailto:{{owner.email}}" title="{{owner.email_tip}}" class="email">{{owner.name}}</a>
