<a class="permalink compound" href="{{link}}" rel="bookmark"
   target="_blank" data-tooltip="">
  <article>
    <span class="title faux-link">{{{title}}}</span>
    <span class="delim">|</span>
    <time datetime="{{date.pub}}" pubdate>{{date.human}}</time>
    <span class="delim">|</span>
    <abbr class="stat" title="{{install_count}} installs">{{install_count}}</abbr>
  </article>
</a>
