{{!
  is_published
}}
<fieldset class="exhibit-status" data-selectable-type="radio-group"
  data-selectable>
  <legend>Published</legend>
  {{! TODO: Define on server. }}
  <span class="radio">
    <input name="status" type="radio" value="1"
      {{#is_published}}checked{{/is_published}} />
    <label>On</label>
  </span>
  <span class="radio">
    <input name="status" type="radio" value="0"
      {{^is_published}}checked{{/is_published}} />
    <label>Off</label>
  </span>
</fieldset>
{{!
  formats
}}
<fieldset class="exhibit-format" data-selectable-type="dropdown"
  data-selectable>
  <legend>Exhibition Format</legend>
  <select name="format">
  {{#formats}}
    <option {{#selected}}selected{{/selected}}>{{name}}</option>
  {{/formats}}
  </select>
</fieldset>
{{!
  thumbnail_sizes
}}
<fieldset class="exhibit-thumbnail-size" data-selectable-type="radio-group"
  data-selectable>
  <legend>Thumbnail Max Size</legend>
{{#thumbnail_sizes}}
  <span class="radio">
    <input name="thumbnail_size" type="radio" value="{{value}}"
      {{^selected}}checked{{/selected}} />
    <label>{{name}}<span class="unit">px</span></label>
  </span>
{{/thumbnail_sizes}}
</fieldset>
{{!
  max_image_sizes
}}
<fieldset class="exhibit-max-image-size" data-selectable-type="radio-group"
  data-selectable>
  <legend>Image Max Size</legend>
{{#max_image_sizes}}
  <span class="radio">
    <input name="max_image_size" type="radio" value="{{value}}"
      {{^selected}}checked{{/selected}} />
    <label>{{name}}<span class="unit">px</span></label>
  </span>
{{/max_image_sizes}}
</fieldset>
{{!
  color
}}
<fieldset class="exhibit-bg-color" data-editable-type="inline color-picker"
  data-editable-color-picker='Spectrum'
  data-editable-color-picker-options='{
    "preferredFormat": "rgb",
    "showButtons": false,
    "showInitial": true,
    "showInput": false,
    "showPalette": false
  }'
  data-editable>
  <legend>Background Color</legend>
  <input type="text" class="color-well" />
  <div class="inline-wrap" data-pre-text="#">
    <div class="text">{{color}}</div>
    <div class="input"><input name="color" type="text" value="{{color}}" /></div>
  </div>
</fieldset>
{{!
  background_image
}}
<fieldset class="exhibit-bg-image" data-editable-type="file-uploader"
  data-editable-file-uploader='jQueryFileUpload'
  data-editable-file-uploader-options='{
    "url": "{{background_image_url}}"
  }'
  data-editable>
  <legend>Background Image</legend>
  <span class="notice">{{max_upload_size}} max</span>
{{#background_image_thumb}}
  <figure class="preview">
    <img class="thumbnail" src="{{url}}" alt="{{caption}}" />
    <figcaption>{{caption}}</figcaption>
  </figure>
{{/background_image_thumb}}
  <div class="input">
    <input name="background_image" type="file" accept="{{accepted_image_mimes}}" max="{{max_upload_size}}" />
  </div>
</fieldset>
<div class="more" data-foldable>
  <h3>Additional Settings</h3>
  {{!
    should_tile_background
  }}
  <fieldset class="exhibit-bg-tiling" data-selectable-type="radio-group"
    data-selectable>
    <legend>Background Tiling</legend>
    <span class="radio">
      <input name="should_tile_background" type="radio" value="true"
        {{#should_tile_background}}checked{{/should_tile_background}} />
      <label>On</label>
    </span>
    <span class="radio">
      <input name="should_tile_background" type="radio" value="false"
        {{^should_tile_background}}checked{{/should_tile_background}} />
      <label>Off</label>
    </span>
  </fieldset>
  {{!
    is_hidden
  }}
  <fieldset class="exhibit-hidden" data-selectable-type="radio-group"
  data-selectable>
    <legend>Hide from Index</legend>
    <span class="radio">
      <input name="is_hidden" type="radio" value="true"
        {{#is_hidden}}checked{{/is_hidden}} />
      <label>On</label>
    </span>
    <span class="radio">
      <input name="is_hidden" type="radio" value="false"
        {{^is_hidden}}checked{{/is_hidden}} />
      <label>Off</label>
    </span>
  </fieldset>
</div>
