{{#application}}
  <em>Curation and plumbing via <a href="{{url}}" title="{{tip}}">{{name}}</a>
{{/application}}
<br/>
with custom JS &amp; plugins<br/>
and a custom <a href="{{validation.html_base_url}}&uri={{full_url}}" title="W3C validation">HTML5</a> &amp; <a href="{{validation.css_base_url}}&uri={{full_url}}" title="W3C validation">SCSS</a> theme
<br/>
{{#hosting}}
  Hosting via <a href="{{url}}" title="{{tip}}">A Small Orange</a></em>
{{/hosting}}
