:root {
  --light-100: rgba(255,255,255, 1);
  --light-90: rgba(255,255,255, 0.9);
  --light-80: rgba(255,255,255, 0.8);
  --light-70: rgba(255,255,255, 0.7);
  --light-60: rgba(255,255,255, 0.6);
  --light-50: rgba(255,255,255, 0.5);
  --light-40: rgba(255,255,255, 0.4);
  --light-30: rgba(255,255,255, 0.3);
  --light-20: rgba(255,255,255, 0.2);
  --light-10: rgba(255,255,255, 0.1);

  --shade-100: rgba(0,0,0, 1);
  --shade-90: rgba(0,0,0, 0.9);
  --shade-80: rgba(0,0,0, 0.8);
  --shade-70: rgba(0,0,0, 0.7);
  --shade-60: rgba(0,0,0, 0.6);
  --shade-50: rgba(0,0,0, 0.5);
  --shade-40: rgba(0,0,0, 0.4);
  --shade-30: rgba(0,0,0, 0.3);
  --shade-20: rgba(0,0,0, 0.2);
  --shade-10: rgba(0,0,0, 0.1);
  --shade-5: rgba(0,0,0, 0.05);

  --grayscale-100: #fff;
  --grayscale-95: #f4f4f4;
  --grayscale-94: #f0f0f0;
  --grayscale-90: #eaeaea;
  --grayscale-85: #dadad8;
  --grayscale-80: #ccc;
  --grayscale-65: #aaa;
  --grayscale-60: #999;
  --grayscale-40: #606060;
  --grayscale-20: #333;
  --grayscale-0: #000;

  --accent-1-50: #05c;
  --accent-1-70: #07e;
  --accent-2-50: #06c;
  --accent-2-70: #06f;

  --background-color: var(--grayscale-85);
  --text-color: var(--grayscale-20);

  --monospace: 'SourceCodeProRegular', 'Consolas', monospace;
  --monospace-bold: 'SourceCodeProSemibold', 'Consolas', monospace;
  --sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --sans-serif-alt: Verdana, 'Century Gothic', 'Geneva', sans-serif;
  --serif: Georgia, serif;

  --xx-sm-font-size: 8px;
  --x-sm-font-size: 10px;
  --x-sm-line-height: 14px;
  --sm-font-size: 11px;
  --sm-line-height: 16px;
  --md-font-size: 12px;
  --md-line-height: 18px;
  --lg-font-size: 16px;
  --lg-line-height: 24px;
  --x-lg-font-size: 24px;
  --xx-lg-font-size: 30px;

  --gutter: 1rem;
  --index-width: 256px;
  --post-width: 600px;
}

@font-face {
  font-family: 'SourceCodeProRegular';
  src: url('/media/theme/SourceCodePro-Regular-webfont.woff') format('woff'),
       url('/media/theme/SourceCodePro-Regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceCodeProSemibold';
  src: url('/media/theme/SourceCodePro-Semibold-webfont.woff') format('woff'),
       url('/media/theme/SourceCodePro-Semibold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesomeIcoMoon';
  src: url('/media/theme/FontAwesome-IcoMoon.ttf') format('truetype'),
       url('/media/theme/FontAwesome-IcoMoon.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'FontAwesomeIcoMoon' !important;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
}
[class^="icon-"]::before, [class*=" icon-"]::before {
  vertical-align: middle;
}
.icon-arrow-down::before { content: "\f063"; }
.icon-arrow-left::before { content: "\f060"; }
.icon-arrow-right::before { content: "\f061"; }
.icon-code::before { content: "\f121"; }
.icon-codepen::before { content: "\f1cb"; }
.icon-deviantart::before { content: "\f1bd"; }
.icon-envelope::before { content: "\f003"; }
.icon-external-link::before { content: "\f08e"; }
.icon-facebook::before { content: "\f09a"; }
.icon-flickr::before { content: "\f16e"; }
.icon-github::before { content: "\f09b"; }
.icon-google-plus::before { content: "\f0d5"; }
.icon-instagram::before { content: "\f16d"; }
.icon-lastfm::before { content: "\f202"; }
.icon-linkedin::before { content: "\f0e1"; }
.icon-minus::before { content: "\f068"; }
.icon-pause::before { content: "\f04c"; }
.icon-pinterest::before { content: "\f231"; }
.icon-play::before { content: "\f04b"; }
.icon-plus::before { content: "\f067"; }
.icon-print::before { content: "\f02f"; }
.icon-stack-overflow::before { content: "\f16c"; }
.icon-tumblr::before { content: "\f173"; }
.icon-twitter::before { content: "\f099"; }
.icon-vimeo::before { content: "\f27d"; }

/* - */

body {
  background: url(/media/theme/bg-space-tile.jpg) 0 0 repeat-x fixed;
  cursor: default;
  margin: 0;
  text-align: left;

  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--sans-serif);
}

/* - */

input, select, textarea { color: var(--text-color); }
abbr, strong { color: var(--grayscale-0); }

strong { font-weight: bold; }
em { font-style: italic; }
em, em > * { letter-spacing: normal; word-spacing: normal; }
em strong { font-weight: normal; }

h1, h2, h3 {
  font-weight: bold;
  letter-spacing: -.05em;
  line-height: 1em; /* reset */
  text-transform: lowercase;
  word-spacing: .05em;

  font-family: var(--sans-serif);
  text-shadow: 0 1px 0 var(--shade-20);
}
h1 { font-size: var(--xx-lg-font-size); }
h2 { font-size: var(--x-lg-font-size); }
h3 { font-size: var(--lg-font-size); }
h4 {
  border-style: solid;
  border-width: 1px;
  font-style: italic;
  font-weight: normal;

  background-color: var(--grayscale-95);
  border-color: transparent var(--grayscale-90) var(--grayscale-85);
  box-shadow: inset 0 -1px 4px var(--shade-10);
  font-family: var(--serif);
  font-size: var(--md-font-size);
  text-shadow: 0 1px 0 var(--shade-20);
}
h3, h4 { margin: 0; }
h3 > sup.count {
  font-size: 100%;
  vertical-align: baseline;
  text-shadow: none;
  top: 0;

  color: var(--grayscale-85);
}
h4 > .meta {
  font-style: normal;
  letter-spacing: 1px;
  line-height: inherit;
  text-transform: uppercase;
  word-spacing: 2px;

  font-family: var(--sans-serif-alt);
  font-size: var(--xx-sm-font-size);
  margin-left: 1em;
}
li > h4 {
  --pull: calc(var(--gutter) / -4);
  margin-left: var(--pull);
  margin-right: var(--pull);
  padding-left: calc(var(--pull) * -1);
}

a {
  border-bottom: 1px dotted transparent;
  text-decoration: none;
  transition-duration: 0.3s;
  transition-property: color, border-bottom-color;
}
a:link, a:active, a:visited { color: var(--accent-2-50); }
a:hover {
  border-bottom-color: var(--grayscale-65);
  color: var(--accent-2-70);
}

h3 a, h3 a:hover { color: var(--text-color); }
h3 aside a { color: var(--grayscale-65); }
h3 aside a:hover { color: var(--text-color); }

ol, ul {
  list-style: none;
  padding-left: 0;
}

h4 + p,
dl:first-child, ol:first-child, ul:first-child,
p:first-child { margin-top: 0; }

dl:last-child, ol:last-child, ul:last-child,
p:last-child { margin-bottom: 0; }

p, nav, li, dd, dt {
  font-family: var(--monospace);
  font-size: var(--sm-font-size);
  word-spacing: -1px;
}
p strong, li strong, dd strong {
  font-family: var(--monospace-bold);
  font-weight: normal;
}
p { line-height: var(--md-line-height); }
li, li > p, dd, dt { line-height: var(--sm-line-height); }
li > [class^="icon-"] {
  opacity: 0.2;
  transition: opacity 0.3s;

  color: var(--grayscale-60);
  font-size: var(--md-font-size);
}
li:hover > [class^="icon-"] { opacity: 1; }

dl.has-icons {
  --dt-width: calc(1em + 1rem);
  display: inline-flex;
  flex-wrap: wrap;
}
dl.has-icons > dt {
  color: var(--grayscale-60);
  flex-basis: var(--dt-width);
}
dl.has-icons > dd {
  margin-left: 0;
  flex-basis: calc(100% - var(--dt-width));
}

button {
  border-radius: 0;
  padding: 0;
  transition-duration: 0.3s;
  transition-property: background-color, border-color, color, opacity;

  background-color: var(--shade-5);
  border: 1px solid var(--light-80);
  box-shadow: inset 0 0 4px var(--shade-20), 0 0 2px var(--light-30);
  color: var(--shade-40);
  font-size: var(--md-font-size);
}
button:disabled { opacity: 0.4; }
button:focus { outline: 1px solid var(--shade-10); }
button:not([disabled]):hover {
  background-color: transparent;
  border-color: var(--light-100);
  color: var(--shade-60);
}

/* - */

.js-tips-tip {
  --tip-fill-color: var(--grayscale-40);
  --stem-size: calc(var(--tip-em) / 2);
  --stem-size-wide-half: var(--stem-size);
}

.js-tips-content {
  font-family: var(--serif);
  font-size: var(--x-sm-font-size);
  font-style: italic;
  line-height: var(--x-sm-line-height);
  text-transform: lowercase;
}

/* - */

.index {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: var(--gutter);
  padding-right: var(--gutter);
  position: fixed;
  width: var(--index-width);
}
.post {
  margin-left: var(--index-width);
  width: var(--post-width);
}

/* - */

.index > * {
  margin-bottom: var(--gutter);
}
.index > header {
  background: var(--grayscale-100);
  border: 1px solid var(--grayscale-100);
  box-shadow: inset 0 0 1.5em var(--shade-10), 0 0 3px var(--shade-20);
}
.index .logo {
  margin: 0;
  padding-left: 3px;
  padding-top: 17px;
}
.logo > a {
  background-repeat: no-repeat;
  border-bottom: 0;
  overflow: hidden;
  text-indent: -999em;

  --height: 48px;
  background-image: url(/media/theme/logo-sprite.jpg);
  display: block;
  height: var(--height);
  width: 225px;
}
.logo > a:hover {
  background-position: 0 calc(1px - var(--height));
}
.index > nav {
  border-style: solid;
  border-width: 1px 1px 1px 0;

  background: var(--grayscale-95);
  border-color: var(--grayscale-95);
  box-shadow: inset -1em 0 2em 1px var(--light-20), 0 0 3px var(--shade-20);
}
.index ul.section {
  margin-bottom: 1.2rem;
  margin-top: 1.2rem;
}
.section > li {
  display: block;

  border-bottom: 1px solid var(--grayscale-90);
}
.section > li.header {
  align-items: center;
  display: flex;
  padding-bottom: 0.5rem;

  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
.section > li.header > h3 {
  flex-grow: 1;
}
.section h3 > span.name {
  border-bottom: 1px dotted var(--grayscale-65);
}
.section > li > a {
  border-left: 0.6875rem solid transparent;
  border-bottom: 0;
  display: block;
  transition-duration: 0.2s;
  transition-property: background-color, border-color;

  padding: 6px 11px 2px 0.3125rem;
  text-shadow: -1px -1px var(--light-50), 1px 1px var(--light-50),
    0 -1px var(--light-50), 0 1px var(--light-50);
}
.section > li > a:hover {
  background-color: var(--grayscale-100);
}
.section > li.active > a {
  border-left-color: var(--accent-1-50);
}
.section > li.active > a:hover {
  border-left-color: var(--accent-1-70);
}
.section button.accordion > span {
  display: block;
  padding: 0.4rem 0.5rem;
}
.section.js-ac-folded button.accordion > .icon-minus,
.section:not(.js-ac-folded) button.accordion > .icon-plus { display: none; }
.index > footer {
  background: var(--grayscale-90);
  border: 1px solid var(--grayscale-90);
  box-shadow: inset -1em 0 2em 1px var(--light-20), 0 0 3px var(--shade-20);

  padding: 1rem;
  padding-right: 0.5rem;
}
.index > footer p {
  margin: 0;
}
.index .colophon {
  font-style: italic;

  color: var(--grayscale-60);
  font-family: var(--serif);
  font-size: var(--x-sm-font-size);
  line-height: var(--x-sm-line-height);
}

article figure > img,
article figcaption,
article nav.bar,
article > section,
article > p {
  background: var(--grayscale-100);
  box-shadow: inset 0 0 1.5em var(--shade-10), 0 0 3px var(--shade-20);
  margin-bottom: var(--gutter);
}
article figcaption,
article nav.bar,
article > section,
article > p {
  box-sizing: border-box;

  border: 1px solid var(--grayscale-100);
  padding: var(--gutter);
}
article figcaption,
article > p { padding-bottom: calc(var(--gutter) * 0.8125); /* line-height compensation */ }
article > p.embed {
  border: 0;
  line-height: 0;
  padding: 0;
}
article > section > header {
  margin-bottom: var(--gutter);
  margin-top: calc(var(--gutter) / 2);
}
section > .body h4 {
  margin-bottom: calc(var(--gutter) / 4);
  padding-bottom: calc(var(--gutter) / 3);
  padding-top: calc(var(--gutter) / 4);
}
section > .body:not(.columnar) > li:not(:last-child) {
  margin-bottom: calc(var(--gutter) * 0.8125);
}
.body.columnar {
  display: flex;
}
.body.columnar > li {
  flex-basis: 0;
  flex-grow: 1;
  margin: 0;
}
.body.columnar > li:not(:last-child) { margin-right: var(--gutter); }
.body.columnar ul > li { padding: calc(var(--gutter) * 0.1875) 0; }
.body.columnar ul.has-icons > li { align-items: baseline; display: flex; }
.body.columnar ul.has-icons > li > *:first-child { flex-grow: 1; }
.body.columnar ul.has-icons > li > a { border-bottom: 0; }
.body.columnar ul.has-icons > li > [class^="icon-"] { text-align: center; width: 1rem; }
section > header.has-button,
nav.bar {
  align-items: center;
  display: flex;
}
section > header.has-button > h3,
nav.bar > .flexible-space { flex-grow: 1; }
nav.bar > .separator { margin: 0 0.2rem; }
article button > span {
  display: block;
  padding: 0.2rem 0.4rem;
}
article figure { margin: var(--gutter) 0; }
article figure > img {
  display: block;
  margin-bottom: var(--gutter);
}
article figcaption > span.caption {
  margin-left: 1em;
  opacity: 0.33;
}
.slideshow > .slides {
  display: flex;
  overflow-x: scroll;
}
.slideshow > .slides::-webkit-scrollbar {
  background: transparent;
  width: 0;
}
.slideshow .slide {
  opacity: 0.2;
  transition: opacity 0.4s;

  margin-right: var(--gutter);
}
.slideshow .slide.current { opacity: 1; }
.slideshow .slide > figure { margin: 0; }
.slide > figure > img { margin-bottom: 0; }

/* - */

h3.haiku {
  line-height: 20px;
}

article > section.intro {
  min-height: 300px;

  background-image: url(/media/theme/portrait.png);
  background-position: bottom right;
  background-repeat: no-repeat;
}
article > section.intro > * {
  margin-right: 230px;

  --centering-margin: calc(var(--gutter) * 1.75);
  margin-bottom: var(--centering-margin);
  margin-top: var(--centering-margin);
}
