@import 'shared';

.app-header {
  $nav-width: 50%;
  %wrap {
    html.flexbox & {
      @include flex(display, flex);
    }
    html.no-flexbox & {
      @extend %clearfix;
    }
  }
  %base-region {
    nav {
      display: inline-block;
    }
  }
  %primary-region {
    @extend %base-region;
    html.flexbox & {
      @include flex(flex, 1);
    }
    html.no-flexbox & {
      float: left;
      max-width: $nav-width;
    }
  }
  %secondary-region {
    @extend %base-region;
    html.flexbox & {
      @include flex(flex, 1);
    }
    html.no-flexbox & {
      float: right;
      max-width: $nav-width;
    }
    text-align: right;
  }
  .main-nav {
    @extend %wrap;
    > .section-nav {
      @extend %primary-region;
    }
    > .user-nav {
      @extend %secondary-region;
    }
  }
  .content-nav {
    @extend %wrap;
    > .primary-nav {
      @extend %primary-region;
    }
    > .secondary-nav {
      @extend %secondary-region;
    }
  }
}
