/**
 * The Screen Layout Stylesheet
 * @see     readme.txt
 * @base    CSS Framework 1.0
 * @author    peng@pengxwang.com
**/

@import "_framework.scss";
/* 
  reserved indexhibit selectors
  - .container
  - #content
  - #menu
  - #menu .section
  - #once
*/

@include html5-boilerplate;

.box { ul, li { margin: 0; list-style:none; list-style-image: none; } }


/** util */

.replaced {
  text-indent: 9999em;
  overflow: hidden;
}

#html .inline {
  display: inline;
}

.hide { 
  display: none; 
}

/* ^ util **/
/** extend util */

/* ^ extend util **/
/** grid ! basic package */
/** grid > wrapper */

body {
  text-align: center;
}
.doc {
  margin: auto;
  text-align: left;
  /* default width is fluid */
  margin-left: auto;
  margin-right: auto;
}
.dA, .dB, .dC { /* fixed-width */
  margin-left: auto;
  margin-right: auto;
}
.dA { width: 50em; /* web 1.0 - 720px - 240 x 3 */ }
.dB { width: 60em; /* web 2.0 - 960px - 240 x 4 */ }
.dC { width: 75em; /* web 3.0 - 1200px - 240 x 5 */ }

.dE1, .dE2, .dE3 { /* elastic */
  width: auto;
}
.dE1 { 
  margin-left: 40px; 
  margin-right: 40px; 
  min-width: 50em;
}
.dE2 { 
  margin-left: 120px; 
  margin-right: 120px; 
  min-width: 60em;
}
.dE3 { 
  margin-left: 360px; 
  margin-right: 360px; 
  min-width: 70em;
}

/* ^ grid > wrapper **/
/** grid > core ! protected */

.gd {
  display: block;
}
.mnH:after,
.fixC:after,
.gd .inG:after { /* clearfix */
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* another way */
.clearer { 
  clear: both;
  line-height: 1px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
/* floats */
.inG .left, .inG .right {
  display: -moz-inline-stack; display: inline-block;
}
/* ^ grid > core ! protected **/
/** grid > inner */

.in {
  margin: 0; /* ! protected */
}
.gd .in { 
  display: block;
  padding: 1em;
}
.gd .in .in { 
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.gd .inG {
  border-width: 1px; 
}

/* ^ grid > inner **/
/** grid > cols */
/** grid > cols > core */

.inG .colR, .inG .col {
/*    display: -moz-inline-stack;*/
/*    display: inline-block;*/
}
.inG .col {
  float: left;
}
.inG .colR {
  float: right;
}
/* gutter */
.gd .col { /* note: no margins with floats */
  padding-left: 1.99%;
  padding-right: 0; /* ! protected */
}
.gdB .col, /* bleed */
.gd .c1 { /* exception */
  padding-left: 0; /* ! protected */
}

/* ^ grid > cols > core **/
/** grid > cols > inner */

.gd .inC {
  padding: 1em 1.5em;
  border-left-width: 1px; 
}
.gd .inCB { /* bleed */
  padding: 0;
}
.gd .c1 .inC { /* exception */
  border-left: 0 none;
}
/* nesting */
.gd .inC .inC { 
  padding: 0;
  border-left-width: 0;
}
.gd .inG .inG {
  border-width: 0;
}

/* ^ grid > cols > inner **/
/** grid > cols > widths ! IE too */
/** grid > cols > widths > 2-cols */

/* 100 - 2 */
.g2A .c1, .g2B .c2 { width: 33.0%; *width: 32.875%; }
.g2A .c2, .g2B .c1 { width: 65.0%; *width: 64.875%; }
.g2C .c1, .g2D .c2 { width: 23.5%; *width: 23.375%; }
.g2C .c2, .g2D .c1 { width: 74.5%; *width: 74.375%; }
.gd .g2Z .col, /* nesting */
.g2Z .col { width: 49.0%; *width: 48.875%; }

/* ^ grid > cols > widths > 2-cols **/
/** grid > cols > widths > 3-cols */

/* 100 - 4 */
.g3A .c1, .g3B .c1, .g3C .c3,     
.g3A .c2, .g3B .c3, .g3C .c2 { width: 23.5%; *width: 23.375%}
.g3A .c3, .g3B .c2, .g3C .c1 { width: 49.0%; *width: 48.875%}
.gd .g3Z col, 
.g3Z .col { width: 32.0%; *width: 31.875%; }

/* ^ grid > cols > widths > 3-cols **/
/** grid > cols > widths > 4-cols */

/* 100 - 6 */
.gd .g4Z col, 
.g4Z .col { width: 23.5%; *width: 23.375%; }

/* ^ grid > cols > widths > 4-cols **/
/* ^ grid > cols > widths **/
/* ^ grid > cols **/
/* ^ grid ! basic package **/
/** extend grid */

#html .inG { border-width: 0; }

/* ^ extend grid **/
/** modules ! basic package */
/** modules > boxes */
/** modules > boxes > core */

.box {
  display: block;
}
.box .hd, .box .bd, .box .ft {
  position: relative;
  padding: 1em;
}
.box .hd, .box .bd {
  padding-bottom: 0;
}

/* ^ modules > boxes > core **/
/* ^ modules > boxes **/
/** modules > menus */
/** modules > menus > core ! protected */

.mn {
  display: block;
}
.mn a {
  padding: .5em 1em;
  border-style: solid;
  border-width: 1px;
  line-height: 1.33em;
  text-decoration: none;
}
/* submenu guide */
.mn2 {}
.mn3 {}
.mn4 {}

/* ^ modules > menu > core ! protected **/
/** modules > menu > vertical */

.mnV li {
}
.mnV a {
  display: block;
  border-top-width: 0;
}
.mnV li.chL a { /* exception */
  border-bottom-width: 0;
}
#html .mnV li.aftN a, /* nesting */
.mnV li.ch1 a { /* exception */
  border-top-width: 1px;
}
.mnV li.ch1 li a { /* reset */
  border-top-width: 0;
}
.mnV li li {
  padding-left: 1em;
}

/* ^ modules > menu > vertical **/
/** modules > menu > horizontal ! requires .cFix */

.mnH li {
  float: left;
}
.mnH a {
  display: block;
  border-left-width: 0;
}
.mnH li.ch1 a { /* exception */
  border-left-width: 1px;
}

/* ^ modules > menu > horizontal ! requires .inG **/
/* ^ modules > menu **/
/* ^ modules ! basic package **/
/** extend modules */

.pjpTip {
  position: absolute;
  z-index: 9999;
}
.pjpTip .in {
  position: relative;
  max-width: 18em; /* 162px */
  overflow: hidden;
  padding: .777em 1.333em 1.111em 1.333em; /* 7px 12px 10px 12px */
}
.pjpTipStem {
  position: relative;
  width: 0;
  height: 0;
  border-right-width: 1em;
  border-bottom-width: 1em;
  top: 0;
}

/** modules > motifs > aside */

.as {
  display: block;
  position: absolute;
  right: 0;
}
.hd .as {
  top: 0;
  right: 1em;
}
.paAs {
  position: relative;
}

/* ^ modules > motifs > aside **/
/* ^ extend modules **/

/* -------------------------------------------------- */
/* NON-REUSABLE, CUSTOM CODE AFTER THIS POINT     */
/* -------------------------------------------------- */
/** unique */

#menu {}
  #menu .box .in {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: .5em;
  }
    #hd {
      padding-bottom: 1em;
    }
    #menu #hd.box .in {
      padding: 0;
    }
    #ft {
      padding-top: 1em;
    }
  #menu p {
    padding-bottom: 0;
  }
  #menu .container { 
    padding-bottom: 1em;
    padding-right: 1em;
  }
  #navigation .mn {
    padding-bottom: 1.5em;
  }
#content {}
  #content .box .in {
    width: 598px;
    /*width: 37.5em;*/ /* 600px */
    margin-bottom: 1em;
  }
  #content .box .hd {
    padding-top: 1.5em;
  }
    #content .box .hd .paAs .as {
      padding-top: .2725em; /* 3px */
    }
  #content .box .bd {
    padding-bottom: 1.5em;
  }
    #content .box dl.bd {
      padding-bottom: .5em;
    }
  #content .box li {
    padding-bottom: .636em; /* 7px */
  }
    #content .box .mnLinked li {
      padding-bottom: 0;
    }
    #content .box .mnLinked a {
      padding-bottom: .636em; /* 7px */
    }
  #content dt, #content dd {
    display: block;
  }
    #content dt {
      margin-top: .5em;
      margin-bottom: .5em;
    }
    #content dt small {
      padding-left: 1em;
    }
    #content dd {
      padding-bottom: 1em;
    }
  #content header .label,
  #content li.label {
    margin-top: .455em;
    margin-bottom: .455em;
    padding-bottom: 0;
  }
  #content p { 
    width: 566px;
    /*width: 51.636em;*/ /* 600px - 32px */ 
    padding: 1.455em; /* 16px */
    margin-bottom: 1.455em;
  }
    #img-container p.scrollItem span {
      display: block;
      padding: 1.455em; /* 16px */
    }
    #img-container p.scrollItem,
    #content p.embed {
      padding: 0;
      line-height: 0;
      width: 54.545em;
    }

/** modules > hash list */

#content .rows dd, 
#content .rows dt {
  vertical-align: middle;
}
#content .rows dt {
  float: left;
  padding-right: 1em;
  margin: 0;
}
#content .rows dd {
  display: block;
  clear: right;
}
/** modules > hash list > h-card */

#html #hcardContact {
  padding-bottom: 1.5em;
}
#hcardContact dt {
  width: 4em;
}
#hcardContact dt.r2 {
  padding-bottom: 1.455em; /* 16px */
}
#hcardContact dd {
  padding-bottom: 0;
}

/* ^ modules > hash list > h-card **/
/* ^ modules > hash list **/
/** jquery > slideshow */

.slideshow-plugin .img-bot {
  margin-bottom: 0;
}
.slideshow-plugin .slide {
  min-width: 600px; text-align: center; /* layout */
}
#html .slideshow-plugin p.meta {
  text-align: left; /* layout reset */
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  width: 566px;
  /*width: 35.5em;*/ /* 600px - 32px */
}
.slideshow-plugin .meta span {
  display: block;
}

/* ^ jquery > slideshow **/
/** jquery > accordion */

.pjpna .section-title {
  position: relative;
}
.pjpnaDisabled .pjpnaButton {
  display: none;
}
#html #menu .pjpnaButton {
  position: absolute;
  right: 1em;
  bottom: .25em;
  text-align: center;
  line-height: 1.5em; /* 24px */
  padding: 0;
  width: 1.5em; 
  height: 1.5em;
  border-width: 1px; 
  font-family: Arial, sans-serif; /* line-height fix */
}

/* ^ jquery > accordion **/
/** jquery > feed */
#content .jFeedRemember {
  right: 100px;
}
/* ^ jquery > feed **/
/** jquery > templates */

#content .feeds-container {
  padding-left: 0;
  padding-right: 0;
}
  #content .feeds-container .feeds {
    
  }
#content .feed-container header {
  padding-left: 1.455em;
  padding-right: 1.455em;
}
  #content .feed-container .label {
    display: block;
  }
#content .mnV.feed li {
  padding: 0;
  border-bottom-width: 1px;
}
  #content .mnV.feed li li {
    border: 0;
  }
  #content .twitter-feed .mnV li,
  #content .posterous-feed .mnV li {
    padding-right: 1.545em;
  }
#content .mnV.feed a.permalink {
  padding-top: .545em;
  padding-bottom: .181em;
  padding-left: .545em;
  border-width: 0 0 0 1em;
}
  #content .posterous-feed .mnV a.permalink {
    padding-right: 0;
    overflow: hidden;
    white-space: nowrap;
  }
#content .github-feed .mnV article,
#content .twitter-feed .mnV article {
  padding: .545em 0 .181em 1.545em;
}
#content .github-feed .mnV blockquote,
#content .github-feed .mnV code {
  font-style: italic;
}
#content .feed .inline {
  border: 0;
  padding: 0;
  margin: 0;
}
#content .mnG.feed li {
  float: left;
  width: 33%;
  display: block;
  
}
#content .mnG.feed figure {
  height: 170px;
  padding: 10px 0;
}
#content .mnG.feed figure img {
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 3px rgba(0,0,0, .5); -moz-box-shadow: 0 0 3px rgba(0,0,0, .5); -webkit-box-shadow: 0 0 3px rgba(0,0,0, .5);
}
#content .mnG.feed figcaption {
  display: block;
  text-align: center;
  padding: 10px 0 0 0;
}

/* ^ jquery > templates **/
/* ^ unique **/
/** unique > extend grid */
/* ^ unique > extend grid **/
/** unique > extend modules */

#html .mnV .section-title {
  display: block;
  padding-top: 1.5em; /* 24px */
  padding-bottom: .5em; /* 8px */
  border-width: 0;
}
#navigation .mnV li {
  border-bottom-width: 1px;
}
#navigation .mnV a {
  border-width: 0;
  padding-left: .455em; /* 5px */
  padding-top: .545em; /* 6px */
  padding-bottom: .181em; /* 2px */
}

#navigation .section-title,
#menu .box .in {
  padding-left: 1em;
}
#navigation .mnV li a {
  border-left-width: 1em;
}

#content .mnLinked a {
  display: -moz-inline-stack; display: inline-block;
  width: 100%;
}

/* ^ unique > extend modules **/
/** indexhibit default */

#once { 
  clear: left; 
}
#content {
  height: 100%;
  margin: 0;
  margin-left: 16em;
  top: 0;
}
#menu {
  width: 16em; /* 256px */
  /*overflow: auto;*/
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100%;
}
#content .container .cl {
  display: none;
}
.null { /* dumb hack */
  border: 1px solid black;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

/* ^ indexhibit default **/