// 
// The Screen Layout Stylesheet
// ============================
//
// Reserved indexhibit selectors:
//
// - .container
// - #content
// - #menu
// - #menu .section
// - #once

@import "_framework.scss";

@include html5-boilerplate;

// Constants
// =========

$_text-height: 16px;
$_line-height: 24px;
$_box-gutter: $_text-height;
$_list-gutter: 7px;
$_node-gutter: 10px;
$_true-box-width: 600px;
$_box-width: 600px - 2px;
$_weight: '#html';

// Base
// ====

.inline-block {
  display: -moz-inline-stack; display: inline-block;  
}

.box {
  display: block;
  ul, li { margin: 0; list-style:none; list-style-image: none; } // Reset.
  .hd, .bd, .ft {
    padding: $_box-gutter;
    position: relative;
  }
  .hd, .bd {
    padding-bottom: 0;
  }
}

.mn { margin-left: 0; list-style:none; list-style-image: none; }

.mnH {
  @extend .clearfix;
  li { float: left; }
  a { display: block; }
}

.pjpTip {
  position: absolute;
  z-index: 9999;
  .in {
    position: relative;
    max-width: 162px;
    overflow: hidden;
    padding: 7px 12px 10px 12px;
  }
}
.pjpTipStem {
  position: relative;
  width: 0;
  height: 0;
  border-right-width: $_box-gutter;
  border-bottom-width: $_box-gutter;
  top: 0;
}

.as {
  display: block;
  position: absolute;
  right: 0;
  .hd & {
    top: 0;
    right: 1em;
  }
}
.paAs {
  position: relative;
}

/** util */

.replaced {
  text-indent: 9999em;
  overflow: hidden;
}

#html .inline {
  display: inline;
}

.hide { 
  display: none; 
}

/* ^ util **/
/** extend util */

/* ^ extend util **/
/** grid ! basic package */
/** grid > wrapper */

body {
  text-align: center;
}
.doc {
  margin: auto;
  text-align: left;
  /* default width is fluid */
  margin-left: auto;
  margin-right: auto;
}
.dA, .dB, .dC { /* fixed-width */
  margin-left: auto;
  margin-right: auto;
}
.dA { width: 50em; /* web 1.0 - 720px - 240 x 3 */ }
.dB { width: 60em; /* web 2.0 - 960px - 240 x 4 */ }
.dC { width: 75em; /* web 3.0 - 1200px - 240 x 5 */ }

.dE1, .dE2, .dE3 { /* elastic */
  width: auto;
}
.dE1 { 
  margin-left: 40px; 
  margin-right: 40px; 
  min-width: 50em;
}
.dE2 { 
  margin-left: 120px; 
  margin-right: 120px; 
  min-width: 60em;
}
.dE3 { 
  margin-left: 360px; 
  margin-right: 360px; 
  min-width: 70em;
}

/* ^ grid > wrapper **/
/** grid > core ! protected */

.gd {
  display: block;
}
.mnH:after,
.fixC:after,
.gd .inG:after { /* clearfix */
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
/* another way */
.clearer { 
  clear: both;
  line-height: 1px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
/* floats */
.inG .left, .inG .right {
  display: -moz-inline-stack; display: inline-block;
}
/* ^ grid > core ! protected **/
/** grid > inner */

.in {
  margin: 0; /* ! protected */
}
.gd .in { 
  display: block;
  padding: 1em;
}
.gd .in .in { 
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.gd .inG {
  border-width: 1px; 
}

/* ^ grid > inner **/
/** grid > cols */
/** grid > cols > core */

.inG .colR, .inG .col {
/*    display: -moz-inline-stack;*/
/*    display: inline-block;*/
}
.inG .col {
  float: left;
}
.inG .colR {
  float: right;
}
/* gutter */
.gd .col { /* note: no margins with floats */
  padding-left: 1.99%;
  padding-right: 0; /* ! protected */
}
.gdB .col, /* bleed */
.gd .c1 { /* exception */
  padding-left: 0; /* ! protected */
}

/* ^ grid > cols > core **/
/** grid > cols > inner */

.gd .inC {
  padding: 1em 1.5em;
  border-left-width: 1px; 
}
.gd .inCB { /* bleed */
  padding: 0;
}
.gd .c1 .inC { /* exception */
  border-left: 0 none;
}
/* nesting */
.gd .inC .inC { 
  padding: 0;
  border-left-width: 0;
}
.gd .inG .inG {
  border-width: 0;
}

/* ^ grid > cols > inner **/
/** grid > cols > widths ! IE too */
/** grid > cols > widths > 2-cols */

/* 100 - 2 */
.g2A .c1, .g2B .c2 { width: 33.0%; *width: 32.875%; }
.g2A .c2, .g2B .c1 { width: 65.0%; *width: 64.875%; }
.g2C .c1, .g2D .c2 { width: 23.5%; *width: 23.375%; }
.g2C .c2, .g2D .c1 { width: 74.5%; *width: 74.375%; }
.gd .g2Z .col, /* nesting */
.g2Z .col { width: 49.0%; *width: 48.875%; }

/* ^ grid > cols > widths > 2-cols **/
/** grid > cols > widths > 3-cols */

/* 100 - 4 */
.g3A .c1, .g3B .c1, .g3C .c3,     
.g3A .c2, .g3B .c3, .g3C .c2 { width: 23.5%; *width: 23.375%}
.g3A .c3, .g3B .c2, .g3C .c1 { width: 49.0%; *width: 48.875%}
.gd .g3Z col, 
.g3Z .col { width: 32.0%; *width: 31.875%; }

/* ^ grid > cols > widths > 3-cols **/
/** grid > cols > widths > 4-cols */

/* 100 - 6 */
.gd .g4Z col, 
.g4Z .col { width: 23.5%; *width: 23.375%; }

/* ^ grid > cols > widths > 4-cols **/
/* ^ grid > cols > widths **/
/* ^ grid > cols **/
/* ^ grid ! basic package **/
/** extend grid */

#html .inG { border-width: 0; }

/* ^ extend grid **/
/** modules ! basic package */
/** modules > menus */
/** modules > menus > core ! protected */

.mn {
  display: block;
}
.mn a {
  padding: .5em 1em;
  border-style: solid;
  border-width: 1px;
  line-height: 1.33em;
  text-decoration: none;
}
/* submenu guide */
.mn2 {}
.mn3 {}
.mn4 {}

/* ^ modules > menu > core ! protected **/
/** modules > menu > vertical */

.mnV li {
}
.mnV a {
  display: block;
  border-top-width: 0;
}
.mnV li.chL a { /* exception */
  border-bottom-width: 0;
}
#html .mnV li.aftN a, /* nesting */
.mnV li.ch1 a { /* exception */
  border-top-width: 1px;
}
.mnV li.ch1 li a { /* reset */
  border-top-width: 0;
}
.mnV li li {
  padding-left: 1em;
}

/* ^ modules > menu > vertical **/
/** modules > menu > horizontal ! requires .cFix */

.mnH a {
  border-left-width: 0;
}
.mnH li.ch1 a { /* exception */
  border-left-width: 1px;
}

/* ^ modules > menu > horizontal ! requires .inG **/
/* ^ modules > menu **/
/* ^ modules ! basic package **/

/* -------------------------------------------------- */
/* NON-REUSABLE, CUSTOM CODE AFTER THIS POINT     */
/* -------------------------------------------------- */
/** unique */

#menu {}
  #menu .box .in {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: .5em;
  }
    #hd {
      padding-bottom: 1em;
    }
    #menu #hd.box .in {
      padding: 0;
    }
    #ft {
      padding-top: 1em;
    }
  #menu p {
    padding-bottom: 0;
  }
  #menu .container { 
    padding-bottom: 1em;
    padding-right: 1em;
  }
  #navigation .mn {
    padding-bottom: 1.5em;
  }




// Application
// ===========

// Containers
// ----------

#content {
  
  // Boxes. Yay.
  .box {
    $v-gutter: 1.5*$_box-gutter;
    .in {
      width: $_box-width - 2px;
      margin-bottom: $_box-gutter;
    }
    .hd {
      padding-top: $v-gutter;
      .paAs .as { padding-top: 3px; }
    }
    .bd {
      padding-bottom: $v-gutter;
    }
    dl.bd { padding-bottom: 0.5*$_box-gutter; }
    li {
      padding-bottom: $_list-gutter;
    }
    .mnLinked { 
      li { padding-bottom: 0; }
      a { padding-bottom: $_list-gutter; }
    }
  }

  // Labeled list.
  dt, dd {
    display: block;
  }
  dt {
    margin: { top: $_node-gutter/2; bottom: $_node-gutter/2; }
    small {
      padding-left: 1em;
    }
  }
  dd {
    padding-bottom: $_node-gutter;
  }
  
  // Hash list.
  .rows {
    dd, dt { vertical-align: middle; }
    dt {
      float: left;
      padding-right: 1em;
      margin: 0;
    }
    dd {
      display: block;
      clear: right;
    }
  }
  
  // Feeds.
  .feeds-container {
    padding: { left: 0; right: 0; }
    header { 
      padding: { left: $_box-gutter; right: $_box-gutter; }
    }
    .label {
      display: block;
    }
  }
  .feed-container {
    &.posterous-feed li,
    &.twitter-feed li {
      padding-right: $_box-gutter + 1px;
    }
    &.posterous-feed .mnV a.permalink {
      // TODO - truncated text.
      padding-right: 0;
      overflow: hidden;
      white-space: nowrap;
    }
    &.github-feed .mnV article,
    &.twitter-feed .mnV article {
      padding: .545em 0 .181em 1.545em;
    }
    &.github-feed .mnV {
      blockquote, code { font-style: italic; }
    }
  }
  .feed {
    &.mnV {
      .inline {
        border: 0;
        padding: 0;
        margin: 0;
      }
      li {
        padding: 0;
        border-bottom-width: 1px;
        li {
          border: 0;
        }
      }
      a.permalink {
        padding-top: .545em;
        padding-bottom: .181em;
        padding-left: .545em;
        border-width: 0 0 0 1em;
      }
    }
    &.mnG {
      // TODO - image grid mixin
      li {
        float: left;
        width: 33%;
        display: block;
      }
      figure {
        height: 170px;
        padding: 10px 0;
        img {
          display: block;
          margin: 0 auto;
          box-shadow: 0 0 3px rgba(0,0,0, .5); -moz-box-shadow: 0 0 3px rgba(0,0,0, .5); -webkit-box-shadow: 0 0 3px rgba(0,0,0, .5);
        }
      }
      figcaption {
        display: block;
        text-align: center;
        padding: 10px 0 0 0;
      }
    }
  }
  .jFeedRemember {
    right: 100px;
  }
  
  // Alternative to headers.
  header .label,
  li.label {
    margin: { top: $_node-gutter/2; bottom: $_node-gutter/2; }
    padding-bottom: 0;
  }
  
  // Content.
  p { 
    width: $_box-width - 2*$_box-gutter;
    padding: $_box-gutter; /* 16px */
    margin-bottom: $_box-gutter;
  }
  #img-container p.scrollItem span {
    display: block;
    padding: $_box-gutter;
  }
  #img-container p.scrollItem,
  p.embed {
    padding: 0; line-height: 0; // Reset.
    width: $_true-box-width;
  }

}

// Misc
// ----

#hcardContact {
  #{$_weight} & {
    padding-bottom: $_line-height;
  }
  dt { 
    width: 4em;
    &.r2 {
      padding-bottom: $_box-gutter;
    }
  }
  dd { padding-bottom: 0; }
}

// JavaScript Modules
// ------------------

.slideshow-plugin {
  $width: $_true-box-width;
  #{$_weight} & {
    $gutter: $_box-gutter;
    p.meta {
      text-align: left;
      margin-top: $gutter;
      margin-bottom: $gutter;
      padding: $gutter;
      width: $width - 2*($_box-gutter + 1px); // Account for borders.
    }
  }
  .img-bot {
    margin-bottom: 0;
  }
  .slide {
    min-width: $width; 
    text-align: center;
  }
  .meta span {
    display: block;
  }
}

// Base Extensions
// ---------------

.mnV {
  #html & {
    .section-title {
      display: block;
      padding: { top: 1.5*$_box-gutter; bottom: 0.5*$_box-gutter; }
      border-width: 0;
    }
  }
  #navigation & {
    li {
      border-bottom-width: 1px;
      &.section-title {
        position: relative;
        padding-left: $_box-gutter;
        .js-fold-trigger {
          $gutter: $_box-gutter;
          $size: 1.5*$gutter;
          position: absolute;
          right: $gutter; bottom: 0.25*$gutter;
          text-align: center; line-height: $size; width: $size; height: $size;
          padding: 0;
          border-width: 1px; 
        }
      }
      a { border-left-width: 1em; }
    }
    a {
      border-width: 0;
      padding: { top: 0.5*$_node-gutter + 1px; bottom: 2px; left: 0.5*$_node-gutter; }
    }
  }
}

.box {
  #menu & {
    .in { padding-left: $_box-gutter; }
  }
}

.mnLinked {
  #content & {
    a {
      @extend .inline-block;
      width: 100%;
    }
  }
}

// Indexhibit Default
// ------------------

#once { 
  clear: left; 
}
#content {
  height: 100%;
  margin: 0;
  margin-left: 16em;
  top: 0;
}
#menu {
  width: 16em; /* 256px */
  /*overflow: auto;*/
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100%;
}
#content .container .cl {
  display: none;
}
.null { /* dumb hack */
  border: 1px solid black;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}