/** indexhibit */
/** indexhibit ! protected */

img.png {
    background-image: expression(
        this.runtimeStyle.backgroundImage = "none",
        this.runtimeStyle.filter =
        "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src +
        "', sizingMethod='image')",
        this.src = "/path/to/transparent.gif"
    );
}
#menu {
    position: absolute;
}

.thumb-it {
    top: 50%;
}

/* ^ indexhibit ! protected **/
/* ^ indexhibit **/
/** framework base */
/** fix > give hasLayout */

.paAs,
.pjpTip .in,
/* base */
.mnV li,
.mn a 
{ zoom: 1; }

/* fix > give has_layout **/
/** fix > grid > core ! important */

/* IE-Mac fix - may or may not need it */
.mnH, .inG, .fixC {
    display: inline-block; 
    height: 1%; 
    display: block; 
}

/* ^ fix > grid > core ! important **/
/** fix > inline-block */

/* base */
.mnV a
{ display: inline; display: block; }

/* ^ fix > inline-block **/
/** fix > transparent borders */

.pjpTipStem
{ border-right-color: orange; }

#html #menu .pjpnaButton 
{ border-color: orange; }

.pjpTipStem,
#html #menu .pjpnaButton 
{ filter: chroma(color=orange); }

/* ^ fix > transparent borders **/
/** debugger */

.dev { border: 1px solid red; }

/* ^ debugger **/
/* ^  **/