<!DOCTYPE html>
<!--
Thanks for looking at my source code. It's hand-coded and auto-formatted.
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} {pengxwang}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="build" content="{{config.theme.build}}">
    <meta name="profile" content="http://gmpg.org/xfn/11">
    <meta name="verify-v1" content="{{config.google.webmaster_key}}">
  {{#config}}
    {{#meta.owner}}
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{name}}">
    <meta name="owner" content="{{email}}">
    {{/meta.owner}}
    {{#theme.copyright}}
    <link rel="license content-license" href="{{license_url}}">
    <link rel="license source-license" href="{{source_url}}">
    {{/theme.copyright}}
  {{/config}}
    <link rel="icon" href="/media/theme/favicon.ico">
    <link rel="apple-touch-icon" href="/media/theme/favicon.png">
    <script src="/lib/theme/guard.js"></script>
    <link rel="stylesheet" href="/lib/theme/hlf-dom-extensions.css">
    <link rel="stylesheet" href="/theme/style.css">
  </head>
  <body>
    <div class="layout">
      <div id="index" class="index">
        {{>index}}
      </div>
      <main id="post" role="main" class="post">
        {{{post}}}
      </main>
    </div>
  {{#debug_info}}
    <script>console.info({{{debug_info}}});</script>
  {{/debug_info}}
    <script src="/lib/theme/hlf-dom-extensions.js"></script>
    <script src="/theme/extend.js"></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', '{{config.google.analytics_tracker}}', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src="https://www.google-analytics.com/analytics.js"></script>
  </body>
</html>
