<article>
  {{{content}}}
  <div class="slideshow">
    <nav class="bar">
      <span class="counter">1</span>
      <span class="separator">/</span>
      <span class="count">{{exhibit_count}}</span>
      <span class="flexible-space"></span>
      <button type="button" class="previous">
        <span class="icon-arrow-left" title="previous"></span>
      </button>
      <span class="separator"></span>
      <button type="button" class="next">
        <span class="icon-arrow-right" title="next"></span>
      </button>
    </nav>
    <ol class="slides">
    {{#exhibit}}
      <li class="slide">
        <figure>
        {{#title}}
          <figcaption>
            <span class="title">{{{title}}}</span>
          {{#caption}}
            <span class="caption">{{{caption}}}</span>
          {{/caption}}
          </figcaption>
        {{/title}}
          <img src="{{url}}">
        </figure>
      </li>
    {{/exhibit}}
    </ol>
  </div>
 </article>
