<!DOCTYPE html>
<!--
{{app.developer_banner}}
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{title}} {{app.title_name}}</title>
{{#metas}}
  <meta name="{{name}}" content="{{content}}" />
{{/metas}}
{{#css}}
  <link rel="stylesheet" href="{{.}}" media="all" />
{{/css}}
{{#head_links}}
  <link rel="{{rel}}" href="{{href}}" />
{{/head_links}}
{{#head_js}}
  <script src="{{.}}"></script>
{{/head_js}}
</head>
<body id="html">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div class="app-main" data-role="main">
  {{#app}}
    <header class="app-header">
      {{>header}}
    </header>
  {{/app}}
    <div class="app-content">
      {{>content}}
    </div>
  {{#app}}
    <footer class="app-footer">
      {{>footer}}
    </footer>
  {{/app}}
  </div>
  <div class="js-templates">
  {{#js_templates}}
    <script type="text/x-mustache" data-template-id="{{id}}">
      {{{template}}}
    </script>
  {{/js_templates}}
  </div>
{{#js}}
  <script src="{{.}}"></script>
{{/js}}
{{#debug_info}}
  <script>Silexhibit.debugInfo = {{{debug_info}}};</script>
{{/debug_info}}
{{#log_level}}
  <script>debug.setLevel({{log_level}});</script>
{{/log_level}}
{{#snippets}}
  <script>
    {{{.}}}
  </script>
{{/snippets}}
</body>
</html>
