html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 16px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

ul, ol {
  margin-left: 2em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td {
  vertical-align: top; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.box {
  display: block; }
  .box ul, .box li {
    margin: 0;
    list-style: none;
    list-style-image: none; }
  .box .hd, .box .bd, .box .ft {
    padding: 16px;
    position: relative; }
  .box .hd, .box .bd {
    padding-bottom: 0; }

.mn, .mn-h, .mn-v, .mn-v-a, #content .feed.mn-g {
  margin-left: 0;
  list-style: none;
  list-style-image: none;
  display: block; }
  .mn a, .mn-h a, .mn-v a, .mn-v-a a, #content .feed.mn-g a {
    padding: 0.5em 1em;
    border-style: solid;
    border-width: 1px;
    line-height: 1.33em;
    text-decoration: none; }
    html.ie6 .mn a, html.ie6 .mn-h a, html.ie6 .mn-v a, html.ie6 .mn-v-a a, html.ie6 #content .feed.mn-g a, #content html.ie6 .feed.mn-g a {
      zoom: 1; }

.mn-h li {
  float: left; }
  .mn-h li:first-child a {
    border-left-width: 1px; }
.mn-h a {
  display: block;
  border-left-width: 0; }
html.ie6 .mn-h {
  display: inline-block;
  height: 1%;
  display: block; }

.mn-v li li, .mn-v-a li li {
  padding-left: 1em; }
.mn-v li:first-child a, .mn-v-a li:first-child a {
  border-top-width: 1px; }
.mn-v li:first-child li a, .mn-v-a li:first-child li a {
  border-top-width: 0; }
.mn-v li:last-child a, .mn-v-a li:last-child a {
  border-bottom-width: 0; }
html.ie6 .mn-v li, html.ie6 .mn-v-a li {
  zoom: 1; }
.mn-v a, .mn-v-a a {
  display: block;
  border-top-width: 0; }
  html.ie6 .mn-v a, html.ie6 .mn-v-a a {
    display: inline;
    display: block; }

.as {
  display: block;
  position: absolute;
  right: 0; }
  .hd .as {
    top: 0;
    right: 1em; }

.has-as {
  position: relative; }

.in {
  margin: 0; }

.gd, .gd-b, .g2-a, .g2-b, .g2-c, .g2-d, .g2-z, .g3-a, .g3-b, .g3-c, .g3-z, .g4-z {
  display: block; }
  .gd .in, .gd-b .in, .g2-a .in, .g2-b .in, .g2-c .in, .g2-d .in, .g2-z .in, .g3-a .in, .g3-b .in, .g3-c .in, .g3-z .in, .g4-z .in {
    display: block;
    padding: 1em; }
    .gd .in .in, .gd-b .in .in, .g2-a .in .in, .g2-b .in .in, .g2-c .in .in, .g2-d .in .in, .g2-z .in .in, .g3-a .in .in, .g3-b .in .in, .g3-c .in .in, .g3-z .in .in, .g4-z .in .in {
      padding-left: 1.5em;
      padding-right: 1.5em; }

.in-g {
  border-width: 1px; }
  .in-g::before, .in-g::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .in-g::after {
    clear: both; }
  html.ie8 .in-g {
    zoom: 1; }
  html.ie6 .in-g {
    display: inline-block;
    height: 1%;
    display: block; }
  .in-g .in-g {
    border-width: 0; }

.gd-b .col, .gd-b .col-r, .gd-b .c1, .gd-b .c2, .gd-b .c3, .gd-b .c4 {
  padding-left: 0; }

.col, .col-r, .c1, .c2, .c3, .c4 {
  float: left;
  padding-left: 1.99%;
  padding-right: 0; }

.col-r {
  float: right; }

.c1 {
  padding-left: 0; }

.in-c, .in-c-b {
  padding: 1em 1.5em;
  border-left-width: 1px; }
  .in-c .in-c, .in-c-b .in-c, .in-c .in-c-b, .in-c-b .in-c-b {
    padding: 0;
    border-left-width: 0; }
  .c1 .in-c, .c1 .in-c-b {
    border-left: 0 none; }
  html.ie7 .in-c, html.ie7 .in-c-b {
    zoom: 1; }

.in-c-b {
  padding: 0; }

.g2-a .c1, .g2-b .c2 {
  width: 33.0%;
  *width: 32.875%; }

.g2-a .c2, .g2-b .c1 {
  width: 65.0%;
  *width: 64.875%; }

.g2-c .c1, .g2-d .c2 {
  width: 23.5%;
  *width: 23.375%; }

.g2-c .c2, .g2-d .c1 {
  width: 74.5%;
  *width: 74.375%; }

.in-g .g2-z .col, .in-g .g2-z .col-r, .in-g .g2-z .c1, .in-g .g2-z .c2, .in-g .g2-z .c3, .in-g .g2-z .c4 {
  width: 49.0%;
  *width: 48.875%; }

.g3-a .c1, .g3-b .c1, .g3-c .c3,
.g3-a .c2, .g3-b .c3, .g3-c .c2 {
  width: 23.5%;
  *width: 23.375%; }

.g3-a .c3, .g3-b .c2, .g3-c .c1 {
  width: 49.0%;
  *width: 48.875%; }

.in-g .g3-z .c1, .in-g .g3-z .c2, .in-g .g3-z .c3,
.g3-z .c1,
.g3-z .c2,
.g3-z .c3 {
  width: 32.0%;
  *width: 31.875%; }

.in-g .g4-z .c1, .in-g .g4-z .c2, .in-g .g4-z .c3, .in-g .g4-z .c4,
.g4-z .c1,
.g4-z .c2,
.g4-z .c3,
.g4-z .c4 {
  width: 23.5%;
  *width: 23.375%; }

#html .in-g {
  border-width: 0; }

/* -------------------------------------------------- */
/* NON-REUSABLE, CUSTOM CODE AFTER THIS POINT         */
/* -------------------------------------------------- */
#menu .box .in {
  padding-top: 16px;
  padding-right: 8px;
  padding-bottom: 16px; }
#menu .box#hd {
  padding-bottom: 16px; }
  #menu .box#hd .in {
    padding: 0; }
#menu #ft {
  padding-top: 16px; }
#menu p {
  padding-bottom: 0; }
#menu .container {
  padding-bottom: 16px;
  padding-right: 16px; }
#menu #navigation .mn-v, #menu #navigation .mn-v-a {
  padding-bottom: 24px; }

#content .box .in {
  width: 598px;
  margin-bottom: 16px; }
#content .box .hd {
  padding-top: 24px; }
  #content .box .hd .has-as .as {
    padding-top: 3px; }
#content .box .bd {
  padding-bottom: 24px; }
#content .box dl.bd {
  padding-bottom: 8px; }
#content .box li {
  padding-bottom: 7px; }
#content .box .mn-v-a li {
  padding-bottom: 0; }
#content .box .mn-v-a a {
  padding-bottom: 7px; }
#content dt, #content dd {
  display: block; }
#content dt {
  margin-top: 5px;
  margin-bottom: 5px; }
  #content dt small {
    padding-left: 1em; }
#content dd {
  padding-bottom: 10px; }
#content .rows dd, #content .rows dt {
  vertical-align: middle; }
#content .rows dt {
  float: left;
  padding-right: 1em;
  margin: 0; }
#content .rows dd {
  display: block;
  clear: right; }
#content .feeds-container {
  padding-left: 0;
  padding-right: 0; }
  #content .feeds-container header {
    padding-left: 16px;
    padding-right: 16px; }
  #content .feeds-container .label {
    display: block; }
#content .feed-container.posterous-feed li, #content .feed-container.twitter-feed li {
  padding-right: 17px; }
#content .feed-container.posterous-feed .mn-v a.permalink, #content .feed-container.posterous-feed .mn-v-a a.permalink {
  padding-right: 0;
  overflow: hidden;
  white-space: nowrap; }
#content .feed-container.github-feed .mn-v article, #content .feed-container.github-feed .mn-v-a article, #content .feed-container.twitter-feed .mn-v article, #content .feed-container.twitter-feed .mn-v-a article {
  padding: 0.545em 0 0.181em 1.545em; }
#content .feed-container.github-feed .mn-v blockquote, #content .feed-container.github-feed .mn-v-a blockquote, #content .feed-container.github-feed .mn-v code, #content .feed-container.github-feed .mn-v-a code {
  font-style: italic; }
#content .feed.mn-v .inline, #content .feed.mn-v-a .inline {
  border: 0;
  padding: 0;
  margin: 0; }
#content .feed.mn-v li, #content .feed.mn-v-a li {
  padding: 0;
  border-bottom-width: 1px; }
  #content .feed.mn-v li li, #content .feed.mn-v-a li li {
    border: 0; }
#content .feed.mn-v a.permalink, #content .feed.mn-v-a a.permalink {
  padding-top: .545em;
  padding-bottom: .181em;
  padding-left: .545em;
  border-width: 0 0 0 1em; }
#content .feed.mn-g li {
  float: left;
  width: 33%;
  display: block; }
#content .feed.mn-g figure {
  height: 170px;
  padding: 10px 0; }
  #content .feed.mn-g figure img {
    display: block;
    margin: 0 auto;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); }
#content .feed.mn-g figcaption {
  display: block;
  text-align: center;
  padding: 10px 0 0 0; }
#content .js-feed-remember {
  right: 100px; }
#content header .label,
#content li.label {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 0; }
#content p {
  width: 566px;
  padding: 16px;
  /* 16px */
  margin-bottom: 16px; }
#content #img-container p.scroll-item span {
  display: block;
  padding: 16px; }
#content #img-container p.scroll-item,
#content p.embed {
  padding: 0;
  line-height: 0;
  width: 600px; }

#html #hcard-contact {
  padding-bottom: 24px; }
#hcard-contact dt {
  width: 4em; }
  #hcard-contact dt.r2 {
    padding-bottom: 16px; }
#hcard-contact dd {
  padding-bottom: 0; }

#html .slideshow-plugin p.meta {
  text-align: left;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 16px;
  width: 566px; }
.slideshow-plugin .img-bot {
  margin-bottom: 0; }
.slideshow-plugin .slide {
  min-width: 600px;
  text-align: center; }
.slideshow-plugin .meta span {
  display: block; }

.pjpTip {
  position: absolute;
  z-index: 9999; }
  .pjpTip .in {
    position: relative;
    max-width: 162px;
    overflow: hidden;
    padding: 7px 12px 10px 12px; }

.pjpTipStem {
  position: relative;
  width: 0;
  height: 0;
  border-right-width: 16px;
  border-bottom-width: 16px;
  top: 0; }

#html .mn-v .section-title, #html .mn-v-a .section-title {
  display: block;
  padding-top: 24px;
  padding-bottom: 8px;
  border-width: 0; }
#navigation .mn-v li, #navigation .mn-v-a li {
  border-bottom-width: 1px; }
  #navigation .mn-v li.section-title, #navigation .mn-v-a li.section-title {
    position: relative;
    padding-left: 16px; }
    #navigation .mn-v li.section-title .js-fold-trigger, #navigation .mn-v-a li.section-title .js-fold-trigger {
      position: absolute;
      right: 16px;
      bottom: 4px;
      text-align: center;
      line-height: 22px;
      width: 24px;
      height: 24px;
      padding: 0;
      border-width: 1px; }
  #navigation .mn-v li a, #navigation .mn-v-a li a {
    border-left-width: 1em; }
#navigation .mn-v a, #navigation .mn-v-a a {
  border-width: 0;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 5px; }

#menu .box .in {
  padding-left: 16px; }

#content .mn-v-a a {
  width: 100%; }

#once {
  clear: left; }

#content {
  height: 100%;
  margin: 0;
  margin-left: 256px;
  top: 0; }

#menu {
  width: 256px;
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  height: 100%; }

#content .container .cl {
  display: none; }
