@import 'layout_screen.css' screen;
@import 'layout_mobile.css' handheld;
@import 'layout_print.css' print;
.fix-c::before, .fix-c::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.fix-c::after {
  clear: both; }
html.ie8 .fix-c {
  zoom: 1; }
html.ie6 .fix-c {
  display: inline-block;
  height: 1%;
  display: block; }

.replaced {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.inline-block, #logo a {
  display: -moz-inline-stack;
  display: inline-block; }

#html .inline {
  display: inline; }

.hide {
  display: none; }

.sprite, #logo a, #ou-intro .in {
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-color: transparent; }

@font-face {
  font-family: "SourceCodeProExtraLight";
  src: url("../font/SourceCodePro-ExtraLight-webfont.eot");
  src: url("../font/SourceCodePro-ExtraLight-webfont.eot?#iefix") format("embedded-opentype"), url("../font/SourceCodePro-ExtraLight-webfont.woff") format("woff"), url("../font/SourceCodePro-ExtraLight-webfont.ttf") format("truetype"), url("../font/SourceCodePro-ExtraLight-webfont.svg#SourceCodeProExtraLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SourceCodeProLight";
  src: url("../font/SourceCodePro-Light-webfont.eot");
  src: url("../font/SourceCodePro-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/SourceCodePro-Light-webfont.woff") format("woff"), url("../font/SourceCodePro-Light-webfont.ttf") format("truetype"), url("../font/SourceCodePro-Light-webfont.svg#SourceCodeProLight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SourceCodeProRegular";
  src: url("../font/SourceCodePro-Regular-webfont.eot");
  src: url("../font/SourceCodePro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/SourceCodePro-Regular-webfont.woff") format("woff"), url("../font/SourceCodePro-Regular-webfont.ttf") format("truetype"), url("../font/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "SourceCodeProSemibold";
  src: url("../font/SourceCodePro-Semibold-webfont.eot");
  src: url("../font/SourceCodePro-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/SourceCodePro-Semibold-webfont.woff") format("woff"), url("../font/SourceCodePro-Semibold-webfont.ttf") format("truetype"), url("../font/SourceCodePro-Semibold-webfont.svg#SourceCodeProSemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'FontAwesome';
  src: url("../../font/fontawesome-webfont.eot");
  src: url("../../font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../../font/fontawesome-webfont.woff") format("woff"), url("../../font/fontawesome-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*  Font Awesome styles
    ------------------------------------------------------- */
/* includes sprites.less reset */
[class^="icon-"],
[class*=" icon-"] {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none !important;
  background-position: 0% 0%;
  background-repeat: repeat; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
  text-decoration: inherit;
  display: inline-block;
  speak: none; }

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before {
  content: "\f000"; }

.icon-music:before {
  content: "\f001"; }

.icon-search:before {
  content: "\f002"; }

.icon-envelope:before {
  content: "\f003"; }

.icon-heart:before {
  content: "\f004"; }

.icon-star:before {
  content: "\f005"; }

.icon-star-empty:before {
  content: "\f006"; }

.icon-user:before {
  content: "\f007"; }

.icon-film:before {
  content: "\f008"; }

.icon-th-large:before {
  content: "\f009"; }

.icon-th:before {
  content: "\f00a"; }

.icon-th-list:before {
  content: "\f00b"; }

.icon-ok:before {
  content: "\f00c"; }

.icon-remove:before {
  content: "\f00d"; }

.icon-zoom-in:before {
  content: "\f00e"; }

.icon-zoom-out:before {
  content: "\f010"; }

.icon-off:before {
  content: "\f011"; }

.icon-signal:before {
  content: "\f012"; }

.icon-cog:before {
  content: "\f013"; }

.icon-trash:before {
  content: "\f014"; }

.icon-home:before {
  content: "\f015"; }

.icon-file:before {
  content: "\f016"; }

.icon-time:before {
  content: "\f017"; }

.icon-road:before {
  content: "\f018"; }

.icon-download-alt:before {
  content: "\f019"; }

.icon-download:before {
  content: "\f01a"; }

.icon-upload:before {
  content: "\f01b"; }

.icon-inbox:before {
  content: "\f01c"; }

.icon-play-circle:before {
  content: "\f01d"; }

.icon-repeat:before {
  content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before {
  content: "\f021"; }

.icon-list-alt:before {
  content: "\f022"; }

.icon-lock:before {
  content: "\f023"; }

.icon-flag:before {
  content: "\f024"; }

.icon-headphones:before {
  content: "\f025"; }

.icon-volume-off:before {
  content: "\f026"; }

.icon-volume-down:before {
  content: "\f027"; }

.icon-volume-up:before {
  content: "\f028"; }

.icon-qrcode:before {
  content: "\f029"; }

.icon-barcode:before {
  content: "\f02a"; }

.icon-tag:before {
  content: "\f02b"; }

.icon-tags:before {
  content: "\f02c"; }

.icon-book:before {
  content: "\f02d"; }

.icon-bookmark:before {
  content: "\f02e"; }

.icon-print:before {
  content: "\f02f"; }

.icon-camera:before {
  content: "\f030"; }

.icon-font:before {
  content: "\f031"; }

.icon-bold:before {
  content: "\f032"; }

.icon-italic:before {
  content: "\f033"; }

.icon-text-height:before {
  content: "\f034"; }

.icon-text-width:before {
  content: "\f035"; }

.icon-align-left:before {
  content: "\f036"; }

.icon-align-center:before {
  content: "\f037"; }

.icon-align-right:before {
  content: "\f038"; }

.icon-align-justify:before {
  content: "\f039"; }

.icon-list:before {
  content: "\f03a"; }

.icon-indent-left:before {
  content: "\f03b"; }

.icon-indent-right:before {
  content: "\f03c"; }

.icon-facetime-video:before {
  content: "\f03d"; }

.icon-picture:before {
  content: "\f03e"; }

.icon-pencil:before {
  content: "\f040"; }

.icon-map-marker:before {
  content: "\f041"; }

.icon-adjust:before {
  content: "\f042"; }

.icon-tint:before {
  content: "\f043"; }

.icon-edit:before {
  content: "\f044"; }

.icon-share:before {
  content: "\f045"; }

.icon-check:before {
  content: "\f046"; }

.icon-move:before {
  content: "\f047"; }

.icon-step-backward:before {
  content: "\f048"; }

.icon-fast-backward:before {
  content: "\f049"; }

.icon-backward:before {
  content: "\f04a"; }

.icon-play:before {
  content: "\f04b"; }

.icon-pause:before {
  content: "\f04c"; }

.icon-stop:before {
  content: "\f04d"; }

.icon-forward:before {
  content: "\f04e"; }

.icon-fast-forward:before {
  content: "\f050"; }

.icon-step-forward:before {
  content: "\f051"; }

.icon-eject:before {
  content: "\f052"; }

.icon-chevron-left:before {
  content: "\f053"; }

.icon-chevron-right:before {
  content: "\f054"; }

.icon-plus-sign:before {
  content: "\f055"; }

.icon-minus-sign:before {
  content: "\f056"; }

.icon-remove-sign:before {
  content: "\f057"; }

.icon-ok-sign:before {
  content: "\f058"; }

.icon-question-sign:before {
  content: "\f059"; }

.icon-info-sign:before {
  content: "\f05a"; }

.icon-screenshot:before {
  content: "\f05b"; }

.icon-remove-circle:before {
  content: "\f05c"; }

.icon-ok-circle:before {
  content: "\f05d"; }

.icon-ban-circle:before {
  content: "\f05e"; }

.icon-arrow-left:before {
  content: "\f060"; }

.icon-arrow-right:before {
  content: "\f061"; }

.icon-arrow-up:before {
  content: "\f062"; }

.icon-arrow-down:before {
  content: "\f063"; }

.icon-share-alt:before {
  content: "\f064"; }

.icon-resize-full:before {
  content: "\f065"; }

.icon-resize-small:before {
  content: "\f066"; }

.icon-plus:before {
  content: "\f067"; }

.icon-minus:before {
  content: "\f068"; }

.icon-asterisk:before {
  content: "\f069"; }

.icon-exclamation-sign:before {
  content: "\f06a"; }

.icon-gift:before {
  content: "\f06b"; }

.icon-leaf:before {
  content: "\f06c"; }

.icon-fire:before {
  content: "\f06d"; }

.icon-eye-open:before {
  content: "\f06e"; }

.icon-eye-close:before {
  content: "\f070"; }

.icon-warning-sign:before {
  content: "\f071"; }

.icon-plane:before {
  content: "\f072"; }

.icon-calendar:before {
  content: "\f073"; }

.icon-random:before {
  content: "\f074"; }

.icon-comment:before {
  content: "\f075"; }

.icon-magnet:before {
  content: "\f076"; }

.icon-chevron-up:before {
  content: "\f077"; }

.icon-chevron-down:before {
  content: "\f078"; }

.icon-retweet:before {
  content: "\f079"; }

.icon-shopping-cart:before {
  content: "\f07a"; }

.icon-folder-close:before {
  content: "\f07b"; }

.icon-folder-open:before {
  content: "\f07c"; }

.icon-resize-vertical:before {
  content: "\f07d"; }

.icon-resize-horizontal:before {
  content: "\f07e"; }

.icon-bar-chart:before {
  content: "\f080"; }

.icon-twitter-sign:before {
  content: "\f081"; }

.icon-facebook-sign:before {
  content: "\f082"; }

.icon-camera-retro:before {
  content: "\f083"; }

.icon-key:before {
  content: "\f084"; }

.icon-cogs:before {
  content: "\f085"; }

.icon-comments:before {
  content: "\f086"; }

.icon-thumbs-up:before {
  content: "\f087"; }

.icon-thumbs-down:before {
  content: "\f088"; }

.icon-star-half:before {
  content: "\f089"; }

.icon-heart-empty:before {
  content: "\f08a"; }

.icon-signout:before {
  content: "\f08b"; }

.icon-linkedin-sign:before {
  content: "\f08c"; }

.icon-pushpin:before {
  content: "\f08d"; }

.icon-external-link:before {
  content: "\f08e"; }

.icon-signin:before {
  content: "\f090"; }

.icon-trophy:before {
  content: "\f091"; }

.icon-github-sign:before {
  content: "\f092"; }

.icon-upload-alt:before {
  content: "\f093"; }

.icon-lemon:before {
  content: "\f094"; }

.icon-phone:before {
  content: "\f095"; }

.icon-check-empty:before {
  content: "\f096"; }

.icon-bookmark-empty:before {
  content: "\f097"; }

.icon-phone-sign:before {
  content: "\f098"; }

.icon-twitter:before {
  content: "\f099"; }

.icon-facebook:before {
  content: "\f09a"; }

.icon-github:before {
  content: "\f09b"; }

.icon-unlock:before {
  content: "\f09c"; }

.icon-credit-card:before {
  content: "\f09d"; }

.icon-rss:before {
  content: "\f09e"; }

.icon-hdd:before {
  content: "\f0a0"; }

.icon-bullhorn:before {
  content: "\f0a1"; }

.icon-bell:before {
  content: "\f0a2"; }

.icon-certificate:before {
  content: "\f0a3"; }

.icon-hand-right:before {
  content: "\f0a4"; }

.icon-hand-left:before {
  content: "\f0a5"; }

.icon-hand-up:before {
  content: "\f0a6"; }

.icon-hand-down:before {
  content: "\f0a7"; }

.icon-circle-arrow-left:before {
  content: "\f0a8"; }

.icon-circle-arrow-right:before {
  content: "\f0a9"; }

.icon-circle-arrow-up:before {
  content: "\f0aa"; }

.icon-circle-arrow-down:before {
  content: "\f0ab"; }

.icon-globe:before {
  content: "\f0ac"; }

.icon-wrench:before {
  content: "\f0ad"; }

.icon-tasks:before {
  content: "\f0ae"; }

.icon-filter:before {
  content: "\f0b0"; }

.icon-briefcase:before {
  content: "\f0b1"; }

.icon-fullscreen:before {
  content: "\f0b2"; }

.icon-group:before {
  content: "\f0c0"; }

.icon-link:before {
  content: "\f0c1"; }

.icon-cloud:before {
  content: "\f0c2"; }

.icon-beaker:before {
  content: "\f0c3"; }

.icon-cut:before {
  content: "\f0c4"; }

.icon-copy:before {
  content: "\f0c5"; }

.icon-paper-clip:before {
  content: "\f0c6"; }

.icon-save:before {
  content: "\f0c7"; }

.icon-sign-blank:before {
  content: "\f0c8"; }

.icon-reorder:before {
  content: "\f0c9"; }

.icon-list-ul:before {
  content: "\f0ca"; }

.icon-list-ol:before {
  content: "\f0cb"; }

.icon-strikethrough:before {
  content: "\f0cc"; }

.icon-underline:before {
  content: "\f0cd"; }

.icon-table:before {
  content: "\f0ce"; }

.icon-magic:before {
  content: "\f0d0"; }

.icon-truck:before {
  content: "\f0d1"; }

.icon-pinterest:before {
  content: "\f0d2"; }

.icon-pinterest-sign:before {
  content: "\f0d3"; }

.icon-google-plus-sign:before {
  content: "\f0d4"; }

.icon-google-plus:before {
  content: "\f0d5"; }

.icon-money:before {
  content: "\f0d6"; }

.icon-caret-down:before {
  content: "\f0d7"; }

.icon-caret-up:before {
  content: "\f0d8"; }

.icon-caret-left:before {
  content: "\f0d9"; }

.icon-caret-right:before {
  content: "\f0da"; }

.icon-columns:before {
  content: "\f0db"; }

.icon-sort:before {
  content: "\f0dc"; }

.icon-sort-down:before {
  content: "\f0dd"; }

.icon-sort-up:before {
  content: "\f0de"; }

.icon-envelope-alt:before {
  content: "\f0e0"; }

.icon-linkedin:before {
  content: "\f0e1"; }

.icon-undo:before {
  content: "\f0e2"; }

.icon-legal:before {
  content: "\f0e3"; }

.icon-dashboard:before {
  content: "\f0e4"; }

.icon-comment-alt:before {
  content: "\f0e5"; }

.icon-comments-alt:before {
  content: "\f0e6"; }

.icon-bolt:before {
  content: "\f0e7"; }

.icon-sitemap:before {
  content: "\f0e8"; }

.icon-umbrella:before {
  content: "\f0e9"; }

.icon-paste:before {
  content: "\f0ea"; }

.icon-lightbulb:before {
  content: "\f0eb"; }

.icon-exchange:before {
  content: "\f0ec"; }

.icon-cloud-download:before {
  content: "\f0ed"; }

.icon-cloud-upload:before {
  content: "\f0ee"; }

.icon-user-md:before {
  content: "\f0f0"; }

.icon-stethoscope:before {
  content: "\f0f1"; }

.icon-suitcase:before {
  content: "\f0f2"; }

.icon-bell-alt:before {
  content: "\f0f3"; }

.icon-coffee:before {
  content: "\f0f4"; }

.icon-food:before {
  content: "\f0f5"; }

.icon-file-alt:before {
  content: "\f0f6"; }

.icon-building:before {
  content: "\f0f7"; }

.icon-hospital:before {
  content: "\f0f8"; }

.icon-ambulance:before {
  content: "\f0f9"; }

.icon-medkit:before {
  content: "\f0fa"; }

.icon-fighter-jet:before {
  content: "\f0fb"; }

.icon-beer:before {
  content: "\f0fc"; }

.icon-h-sign:before {
  content: "\f0fd"; }

.icon-plus-sign-alt:before {
  content: "\f0fe"; }

.icon-double-angle-left:before {
  content: "\f100"; }

.icon-double-angle-right:before {
  content: "\f101"; }

.icon-double-angle-up:before {
  content: "\f102"; }

.icon-double-angle-down:before {
  content: "\f103"; }

.icon-angle-left:before {
  content: "\f104"; }

.icon-angle-right:before {
  content: "\f105"; }

.icon-angle-up:before {
  content: "\f106"; }

.icon-angle-down:before {
  content: "\f107"; }

.icon-desktop:before {
  content: "\f108"; }

.icon-laptop:before {
  content: "\f109"; }

.icon-tablet:before {
  content: "\f10a"; }

.icon-mobile-phone:before {
  content: "\f10b"; }

.icon-circle-blank:before {
  content: "\f10c"; }

.icon-quote-left:before {
  content: "\f10d"; }

.icon-quote-right:before {
  content: "\f10e"; }

.icon-spinner:before {
  content: "\f110"; }

.icon-circle:before {
  content: "\f111"; }

.icon-reply:before {
  content: "\f112"; }

.icon-github-alt:before {
  content: "\f113"; }

.icon-folder-close-alt:before {
  content: "\f114"; }

.icon-folder-open-alt:before {
  content: "\f115"; }

.js-tip {
  position: absolute;
  z-index: 9999;
  display: none; }

.js-tip-inner {
  position: relative; }

.js-tip-stem {
  border-width: 0;
  border-style: solid;
  border-color: transparent;
  background: none;
  position: absolute;
  width: 0;
  height: 0; }
  .js-tip-east.js-snap-tip-y-side .js-tip-stem, .js-tip-east .js-tip-stem {
    left: 0; }
  .js-tip-west.js-snap-tip-y-side .js-tip-stem, .js-tip-west .js-tip-stem {
    right: 0; }
  .js-tip-south.js-snap-tip-x-side .js-tip-stem, .js-tip-south .js-tip-stem {
    top: 0; }
  .js-tip-north.js-snap-tip-x-side .js-tip-stem, .js-tip-north .js-tip-stem {
    bottom: 0; }
  .js-snap-tip-x-side .js-tip-stem {
    left: 50%;
    border-color: transparent; }
  .js-snap-tip-y-side .js-tip-stem {
    top: 50%;
    border-color: transparent; }

.js-tip-content {
  overflow: hidden;
  position: relative; }

#menu .mn-v li.active a {
  border-left-color: #0055cc; }
  #menu .mn-v li.active a:hover {
    border-left-color: #0077ee; }

#content .feed a {
  border-left-color: transparent; }
  #content .feed a:hover {
    border-left-color: #0077ee; }

#menu .js-foldables a:not(.js-fold-trigger):hover {
  background-color: white; }

body, select, input, textarea {
  color: #333333; }

abbr, strong {
  color: black; }

a:not(.replaced).compound article *, .feed article .meta *, #html #menu .js-fold-trigger {
  color: #aaaaaa; }

.caption, #colophon, .container .rows dt {
  color: #999999; }

a:not(.replaced).compound article .tags {
  color: #cccccc; }

#menu .h-main sup {
  color: #dadad8; }

.hdr sup, #content .box .in .delim {
  color: #eaeaea; }

.section-title .title, #content .abbr {
  border-bottom: 1px dotted #bababa; }
  .section-title .truncated.title, #content .truncated.abbr {
    border-bottom: 0; }

a:not(.replaced), a:not(.replaced).compound .faux-link {
  -moz-transition-property: color, border-bottom-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: color, border-bottom-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: color, border-bottom-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-property: color, border-bottom-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: color, border-bottom-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  text-decoration: none;
  border-bottom: 1px dotted transparent; }
  a:link:not(.replaced), a:not(.replaced).compound .faux-link:link, a:active:not(.replaced), a:not(.replaced).compound .faux-link:active, a:visited:not(.replaced), a:not(.replaced).compound .faux-link:visited {
    color: #0066cc; }
  a:hover:not(.replaced), a:not(.replaced).compound .faux-link:hover {
    color: #0066ff;
    border-bottom-color: #aaaaaa; }

h3 a:not(.replaced), #html .section-title a:not(.replaced), a.compound:not(.replaced), h3 a:hover:not(.replaced), #html .section-title a:hover:not(.replaced), a.compound:hover:not(.replaced) {
  color: #333333; }

#html #menu .js-fold-trigger:not(.js-fold-disabled) {
  color: #aaaaaa; }
  #html #menu .js-fold-trigger:hover:not(.js-fold-disabled) {
    color: #333333; }

h3 a.as:not(.replaced), #html .section-title a.as:not(.replaced) {
  color: #606060; }
  h3 a.as:hover:not(.replaced), #html .section-title a.as:hover:not(.replaced) {
    color: #333333; }

#content header .label,
#content li.label, #content dt {
  -webkit-box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4; }
  html.boxshadow #content header .label, #content header html.boxshadow .label,
  html.boxshadow #content li.label,
  #content html.boxshadow li.label, html.boxshadow #content dt, #content html.boxshadow dt {
    margin-left: -4px;
    padding-left: 4px;
    border-width: 1px;
    border-color: #f4f4f4 #e4e4e4 #d4d4d4 #e4e4e4;
    border-style: solid; }

h1, h2, h3, #html .section-title, .section-title, #content .box h3, #content .box #html .section-title, #html #content .box .section-title, #content header .label,
#content li.label {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

#menu .mn-v a {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5); }

::selection, ::-moz-selection {
  background: transparent;
  color: black;
  text-shadow: none; }

h1, h2, h3, #html .section-title, .section-title {
  text-transform: lowercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: -.05em;
  word-spacing: .05em; }
  #html h1, #html h2, #html h3, #html .section-title {
    font-weight: bold; }
  h1 .as, h2 .as, h3 .as, #html .section-title .as, .section-title .as {
    letter-spacing: normal;
    word-spacing: normal; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.container, #content .as {
  font-family: "SourceCodeProRegular", "Consolas", monospace;
  word-spacing: -1px; }
  #html .container, #html #content .as, #content #html .as {
    font-weight: normal; }
    #html .container strong, #html #content .as strong, #content #html .as strong {
      font-family: "SourceCodeProSemibold", "Consolas", monospace;
      font-weight: normal; }

.copy dt em, .caption, #content header .label em,
#content li.label em, #colophon em {
  font-family: Georgia, serif; }

.container .prose, .container p, #content header .label,
#content li.label, .container .rows dt, .container li, .container dd, .slide .meta .title, #content .as {
  font-size: 11px;
  line-height: 16px; }

.container .prose, .container p {
  line-height: 18px; }

#content header .label,
#content li.label {
  line-height: 24px; }

#content dt em {
  font-size: 12px;
  line-height: 24px; }

.caption, #colophon {
  font-size: 10px;
  line-height: 14px; }

.copy small {
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-family: Verdana, "Century Gothic", "Geneva", sans-serif; }

#menu .js-fold-trigger {
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(255, 255, 255, 0.3);
  -moz-transition-property: background-color, border-color, color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: background-color, border-color, color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, border-color, color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color, border-color, color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: #f0f0f0;
  border-color: #f8f8f8; }

#menu .js-fold-trigger:not(.js-fold-disabled):hover {
  background-color: #f7f7f7;
  border-color: white; }

.slide, #menu #hd .in, #content .box .in, #content p {
  -webkit-box-shadow: inset 0 0 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 1.5em 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: white; }
  html.boxshadow .slide, html.boxshadow #menu #hd .in, #menu #hd html.boxshadow .in, html.boxshadow #content .box .in, #content .box html.boxshadow .in, html.boxshadow #content p, #content html.boxshadow p {
    border: 1px solid white; }

#menu #ft .in {
  -webkit-box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #eaeaea; }
  html.boxshadow #menu #ft .in, #menu #ft html.boxshadow .in {
    border: 1px solid #eaeaea;
    border-left: 0; }

#menu .mn-v {
  -webkit-box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4; }
  html.boxshadow #menu .mn-v, #menu html.boxshadow .mn-v {
    border: 1px solid #f4f4f4;
    border-left: 0; }

a:link {
  -webkit-tap-highlight-color: #dadad8; }

body {
  cursor: default;
  text-align: left; }

#html strong {
  font-weight: bold; }

#html em {
  font-style: italic; }
  #html em, #html em > * {
    letter-spacing: normal;
    word-spacing: normal; }
  #html em strong {
    font-weight: normal; }

h1, h2, h3, #html .section-title {
  line-height: 1em; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 24px; }

h3, #html .section-title {
  font-size: 16px; }

.container [class^="icon-"], #content .as [class^="icon-"], .container
[class*=" icon-"], #content .as
[class*=" icon-"] {
  font-size: 14px;
  width: 14px;
  text-align: center; }
.mn-v li [class^="icon-"], .mn-linked li [class^="icon-"], .mn-v li
[class*=" icon-"], .mn-linked li
[class*=" icon-"] {
  float: right;
  margin-top: -1px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  color: #999999;
  opacity: 0.2; }
.mn-v li:hover [class^="icon-"], .mn-linked li:hover [class^="icon-"], .mn-v li:hover
[class*=" icon-"], .mn-linked li:hover
[class*=" icon-"] {
  opacity: 1; }

.mn-v ol, .mn-v ul {
  border-style: solid;
  border-color: #f0f0f0; }
.mn-v li {
  border-style: solid;
  border-color: #eaeaea; }

#html .container .rows dt {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0; }
.container .mn-v-a li {
  line-height: 1em; }
.container #html li li {
  font-size: 1em; }

sup {
  font-size: 100%;
  vertical-align: baseline;
  top: 0; }
  #html sup {
    text-shadow: none; }

.copy a {
  line-height: 1em; }
.copy dt small {
  line-height: 24px; }
.copy dd a, .copy li a, .copy .prose a {
  line-height: inherit; }

#html .slide {
  background: black;
  border: 0; }
.slide .meta {
  font-size: 1em;
  position: absolute; }

#menu .js-fold-trigger.js-fold-disabled {
  cursor: default; }
#menu .mn-v a {
  -moz-transition-property: background-color, border-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: background-color, border-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, border-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color, border-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-left-color: transparent; }
.ie7 #menu .mn-v li a {
  background-color: #f4f4f4; }
  .ie7 #menu .mn-v li a :hover {
    border-left-color: white; }

html.boxshadow #content p.scroll-item, html.boxshadow #content p.embed {
  border: 0;
  padding: 0; }
#content p.embed {
  background-color: transparent; }
#content .as {
  text-shadow: none; }

#intro {
  line-height: 20px; }

#colophon {
  text-transform: lowercase; }

#logo {
  padding: 17px 0 0 3px;
  line-height: 0; }
  #logo a {
    background-color: white;
    background-image: url(../img/banners_logo_ro.jpg);
    height: 48px;
    width: 225px; }
    #logo a:hover {
      background-position: 0 -47px; }

#ou-intro .in {
  min-height: 300px;
  background-color: white;
  background-image: url(../img/banner_about.png);
  background-position: bottom right; }
  html.ie6 #ou-intro .in {
    height: auto !important;
    height: 300px; }
#ou-intro #intro {
  padding-top: 0.8em;
  padding-bottom: 1em; }
#ou-intro #intro, #ou-intro #tagline {
  padding-right: 240px; }

body {
  background: #dadad8 url(../img/bg_space_tile.jpg) 0 0 repeat-x fixed; }

#menu,
#content {
  background: transparent url(../img/banners/env1_1.jpg) 0 0 repeat-x fixed; }

/** hlf-tip */
.js-tip {
  font: italic 9px/14px Georgia, serif;
  text-align: left;
  text-transform: lowercase; }
  .js-tip .js-tip-inner {
    max-width: 216px; }
  .js-tip .js-tip-content {
    padding: 8px 12px 10px 12px; }
  .js-tip.js-tip-east.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-east .js-tip-stem {
    border-right-width: 12px; }
    .js-tip.js-tip-east.js-snap-tip-y-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-east .js-tip-stem + .js-tip-content {
      top: auto;
      bottom: auto;
      left: 12px; }
  .js-tip.js-tip-west.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-west .js-tip-stem {
    border-left-width: 12px; }
    .js-tip.js-tip-west.js-snap-tip-y-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-west .js-tip-stem + .js-tip-content {
      top: auto;
      bottom: auto;
      right: 12px; }
  .js-tip.js-tip-south.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-south .js-tip-stem {
    border-bottom-width: 12px; }
    .js-tip.js-tip-south.js-snap-tip-x-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-south .js-tip-stem + .js-tip-content {
      left: auto;
      right: auto;
      top: 12px; }
  .js-tip.js-tip-north.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-north .js-tip-stem {
    border-top-width: 12px; }
    .js-tip.js-tip-north.js-snap-tip-x-side .js-tip-stem + .js-tip-content, .js-tip.js-tip-north .js-tip-stem + .js-tip-content {
      left: auto;
      right: auto;
      bottom: 12px; }
  .js-tip.js-snap-tip-x-side .js-tip-stem {
    margin-left: -9px;
    border-width: 0 9px; }
  .js-tip.js-snap-tip-y-side .js-tip-stem {
    margin-top: -9px;
    border-width: 9px 0; }
  .js-tip .js-tip-content {
    background-color: #606060;
    color: white; }
  .js-tip.js-tip-east.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-east .js-tip-stem {
    border-color: transparent;
    border-right-color: #606060; }
  .js-tip.js-tip-west.js-snap-tip-y-side .js-tip-stem, .js-tip.js-tip-west .js-tip-stem {
    border-color: transparent;
    border-left-color: #606060; }
  .js-tip.js-tip-south.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-south .js-tip-stem {
    border-color: transparent;
    border-bottom-color: #606060; }
  .js-tip.js-tip-north.js-snap-tip-x-side .js-tip-stem, .js-tip.js-tip-north .js-tip-stem {
    border-color: transparent;
    border-top-color: #606060; }

/* hlf tip **/
html.ie6 img.png {
  background-image: expression(this.runtimeStyle.backgroundImage = "none",       this.runtimeStyle.filter =       "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src +       "', sizingMethod='image')",       this.src = "/path/to/transparent.gif"     ); }
html.ie6 #menu {
  position: absolute; }
html.ie6 .thumb-it {
  top: 50%; }
html.ie6 .has-as {
  zoom: 1; }
html.ie6 .dev {
  border: 1px solid red; }

html.ie7 #content .rows {
  zoom: 1; }
html.ie7 #logo a {
  display: inline;
  display: block; }
