@import 'layout_screen.css' screen;
@import 'layout_mobile.css' handheld;
@import 'layout_print.css' print;
.fix-c::before, .fix-c::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }
.fix-c::after {
  clear: both; }
html.ie8 .fix-c {
  zoom: 1; }
html.ie6 .fix-c {
  display: inline-block;
  height: 1%;
  display: block; }

.replaced {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.inline-block, #logo a {
  display: -moz-inline-stack;
  display: inline-block; }

#html .inline {
  display: inline; }

.hide {
  display: none; }

.sprite, #logo a, #ou-intro .in {
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: scroll;
  background-color: transparent; }

._accented-menu-item-1, #menu .mn-v li.active a {
  border-left-color: #0055cc; }
  ._accented-menu-item-1:hover, #menu .mn-v li.active a:hover {
    border-left-color: #0077ee; }

._accented-menu-item-2, #content .feed a {
  border-left-color: transparent; }
  ._accented-menu-item-2:hover, #content .feed a:hover {
    border-left-color: #0077ee; }

._toggled-menu-item-1, #menu .js-foldables a:not(.js-fold-trigger):hover {
  background-color: white; }

._base-text-1, body, select, input, textarea {
  color: #333333; }

._base-text-2 {
  color: #606060; }

._heavy-text-1, abbr, strong {
  color: black; }

._meta-text-1, a.compound article *, #html .js-fold-trigger, .feed article .meta * {
  color: #aaaaaa; }

._meta-text-2, .container .rows dt {
  color: #999999; }

._meta-text-3, a.compound article .tags {
  color: #cccccc; }

._meta-text-4, #menu .h-main sup {
  color: #dadad8; }

._meta-text-5, .hdr sup, #content .box .in .delim {
  color: #eaeaea; }

._underlined-text-1, .section-title .title, #content .abbr {
  border-bottom: 1px dotted #bababa; }
  ._underlined-text-1.truncated, .section-title .truncated.title, #content .truncated.abbr {
    border-bottom: 0; }

._link-text-1, a, a.compound .faux-link {
  border-bottom: 1px dotted transparent;
  -moz-transition-property: color, border-bottom-color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: color, border-bottom-color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: color, border-bottom-color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-property: color, border-bottom-color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: color, border-bottom-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out; }
  ._link-text-1:link, a:link, a.compound .faux-link:link, ._link-text-1:active, a:active, a.compound .faux-link:active, ._link-text-1:visited, a:visited, a.compound .faux-link:visited {
    color: #0066cc; }
  ._link-text-1:hover, a:hover, a.compound .faux-link:hover {
    color: #0066ff;
    border-bottom-color: #aaaaaa; }

._meta-link-text-1, h3 a, a.compound, ._meta-link-text-1:hover, h3 a:hover, a.compound:hover {
  color: #333333; }

._meta-link-text-2, #html .js-fold-trigger:not(.js-fold-disabled) {
  color: #aaaaaa; }
  ._meta-link-text-2:hover, #html .js-fold-trigger:hover:not(.js-fold-disabled) {
    color: #333333; }

._meta-link-text-3, h3 a.as {
  color: #606060; }
  ._meta-link-text-3:hover, h3 a.as:hover {
    color: #333333; }

._ribbon-text-1, #content header .label, #content li.label, #content dt {
  -moz-box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -1px 4px 0 rgba(0, 0, 0, 0.1);
  background-color: #f4f4f4; }
  html.boxshadow ._ribbon-text-1, html.boxshadow #content header .label, #content header html.boxshadow .label, html.boxshadow #content li.label, #content html.boxshadow li.label, html.boxshadow #content dt, #content html.boxshadow dt {
    margin-left: -4px;
    padding-left: 4px;
    border-width: 1px;
    border-color: #f4f4f4 #e4e4e4 #d4d4d4 #e4e4e4;
    border-style: solid; }

._floating-text-1, .section-title, #content .box h3, #content header .label, #content li.label {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }

._engraved-text-1, #menu .mn-v a {
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.5), 1px 1px 0 rgba(255, 255, 255, 0.5), 0 -1px 0 rgba(255, 255, 255, 0.5), 0 1px 0 rgba(255, 255, 255, 0.5); }

._selected-text-1, ::selection, ::-moz-selection {
  background: transparent;
  color: black;
  text-shadow: none; }

._button-1-default, #menu .js-fold-trigger {
  -moz-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 2px 0 rgba(255, 255, 255, 0.3);
  -moz-transition-property: background-color, border-color, color;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: background-color, border-color, color;
  -o-transition-duration: 0.3s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, border-color, color;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color, border-color, color;
  -ms-transition-duration: 0.3s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: background-color, border-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: #f0f0f0;
  border-color: #f8f8f8; }

._button-1-toggled, #menu .js-fold-trigger:not(.js-fold-disabled):hover {
  background-color: #f4f4f4;
  border-color: white; }

._paper-1, #menu #hd .in, #content .box .in, #content p {
  -moz-box-shadow: inset 0 0 1em 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 1em 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 1em 0 rgba(0, 0, 0, 0.1), 0 0 3px 0 rgba(0, 0, 0, 0.3);
  background-color: white; }
  html.boxshadow ._paper-1, html.boxshadow #menu #hd .in, #menu #hd html.boxshadow .in, html.boxshadow #content .box .in, #content .box html.boxshadow .in, html.boxshadow #content p, #content html.boxshadow p {
    border: 1px solid white; }

._paper-2, #menu #ft .in {
  -moz-box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #eaeaea; }
  html.boxshadow ._paper-2, html.boxshadow #menu #ft .in, #menu #ft html.boxshadow .in {
    border: 1px solid #eaeaea;
    border-left: 0; }

._paper-3, #menu .mn-v {
  -moz-box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset -1em 0 2em 1px rgba(255, 255, 255, 0.2), 0 0 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #f4f4f4; }
  html.boxshadow ._paper-3, html.boxshadow #menu .mn-v, #menu html.boxshadow .mn-v {
    border: 1px solid #f4f4f4;
    border-left: 0; }

a:link {
  -webkit-tap-highlight-color: #dadad8; }

body {
  cursor: default; }

.mn ol, .mn ul {
  border-style: solid;
  border-color: #f0f0f0; }
.mn li {
  border-style: solid;
  border-color: #eaeaea; }

#html .container .rows dt {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  border: 0; }

#html sup {
  text-shadow: none; }

#menu .js-fold-trigger.js-fold-disabled {
  cursor: default; }
#menu .mn-v a {
  -moz-transition-property: background-color, border-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-property: background-color, border-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-property: background-color, border-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in-out;
  -ms-transition-property: background-color, border-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: ease-in-out;
  transition-property: background-color, border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  border-left-color: transparent; }
.ie7 #menu .mn-v li a {
  background-color: #f4f4f4; }
  .ie7 #menu .mn-v li a :hover {
    border-left-color: white; }

html.boxshadow #content p.scroll-item, html.boxshadow #content p.embed {
  border: 0;
  padding: 0; }
#content p.embed {
  background-color: transparent; }
#content h3 .as {
  text-shadow: none; }

#logo {
  padding: 17px 0 0 3px;
  line-height: 0; }
  #logo a {
    background-color: white;
    background-image: url(../img/banners_logo_ro.jpg);
    height: 48px;
    width: 225px; }
    #logo a:hover {
      background-position: 0 -47px; }

#ou-intro .in {
  min-height: 300px;
  background-color: white;
  background-image: url(../img/banner_about.png);
  background-position: bottom right; }
  html.ie6 #ou-intro .in {
    height: auto !important;
    height: 300px; }
#ou-intro #intro {
  padding-top: 0.8em;
  padding-bottom: 1em; }
#ou-intro #intro, #ou-intro #tagline {
  padding-right: 240px; }

body {
  background: #dadad8 url(../img/bg_space_tile.jpg) 0 0 repeat-x fixed; }

#menu,
#content {
  background: transparent url(../img/banners/env1_1.jpg) 0 0 repeat-x fixed; }

/** hlf-tip */
.pjpTipStem,
._ {
  border-right-color: transparent; }

.pjpTipStem,
._ {
  border-bottom-color: #606060; }

.pjpTip .in,
._ {
  background-color: #606060; }

.pjpTip .in,
._ {
  color: #fff; }

/* hlf tip **/
/**
 * The Typography styleheet
 * @see     readme.txt
 * @author    peng@pengxwang.com
**/
/** global > style */
.pjpTip,
#menu,
#content {
  text-align: left; }

.null {
  text-align: right; }

/*
#content dd,
#content p
{ text-align: justify; }
*/
.pjpTip,
#colophon *,
.section-title,
h1, h2, h3 {
  text-transform: lowercase; }

.copy small {
  text-transform: uppercase; }

#html h1, #html h2, #html h3,
#html strong {
  font-weight: bold; }

.pjpTip,
.caption,
#html em {
  font-style: italic; }

.null {
  font-style: normal; }

#html em strong {
  font-weight: normal; }

.hd .as,
#html em *,
#html em {
  letter-spacing: normal; }

.hd .as {
  word-spacing: normal; }

a.compound:hover,
#navigation a:hover,
a {
  text-decoration: none; }

/* ^ global > style **/
/** global > size + spacing */
.copy small {
  font-size: .5em;
  /* 8px */ }

.copy small {
  /* uppercase */
  letter-spacing: .125em;
  /* 1px */
  word-spacing: .25em;
  /* 2px */ }

.copy dt small {
  line-height: 3em;
  /* align 24px */ }

.pjpTip,
.slideshow-plugin .meta .caption,
#colophon {
  font-size: .5625em;
  /* 9px */ }

.pjpTip,
.slideshow-plugin .meta .caption,
#colophon {
  line-height: 1.555em;
  /* 14px */ }

#content .as,
.slideshow-plugin .meta .title,
.container .rows dt,
.container dd,
.container p,
.container li,
.prose {
  font-size: .6875em;
  /* 11px */ }

.container .mn-v-a a,
.slideshow-plugin .meta .title,
.container .rows dt,
.container dd,
.container .copy li {
  line-height: 1.455em;
  /* 16px */ }

.container p,
.prose {
  line-height: 1.636em;
  /* 18px */ }

#content header .label,
#content li.label em {
  line-height: 2.182em;
  /* 24px */ }

#content dt em {
  font-size: .75em;
  /* 12px */ }

#content dt em {
  line-height: 2em; }

.null {
  font-size: 1em;
  /* 16px */ }

h3#intro {
  line-height: 1.25em; }

h2 {
  font-size: 1.5em;
  /* 24px */ }

.null {
  font-size: 1.625em;
  /* 26px */ }

h1 {
  font-size: 1.875em;
  /* 30px */ }

.null {
  font-size: 2em;
  /* 32px */ }

/** global > size + spacing > reset */
.container .mn-v-a li,
h1, h2, h3,
a {
  line-height: 1em; }

.copy dd a, .copy li a,
.prose a {
  line-height: inherit; }

.slideshow-plugin p.meta,
#html .section-title,
#html li li {
  font-size: 1em; }

body.safari,
body.chrome {
  font-size: 16px; }

/* ^ global > size + spacing > reset **/
/* ^ global > size + spacing **/
/** mono set */
#content .as,
.container,
.mono {
  font-family: 'Consolas', 'Monaco', 'Lucida Console', 'Andale Mono', monospace !important; }

/* ^ mono set **/
/** serif set */
.pjpTip,
.caption,
#html em *,
#html em,
.serif {
  font-family: Georgia, 'Constantia', 'Utopian', 'Palatino', 'Palatino Linotype', serif; }

/* ^ serif set **/
/** sans-serif set */
/* default */
body,
.sans {
  font-family: Arial, Helvetica, 'Helvetica Neue', sans-serif; }

/* reset */
.section-title,
#html h1, #html h2, #html h3,
.hSans {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: -0.05em;
  word-spacing: .05em; }

.copy small,
.wSans {
  font-family: Verdana, 'Century Gothic', 'Geneva', sans-serif; }

/* utility */
.pSans {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* utility */
.pSans strong {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Helvetica Neue', Helvetica, Arial, sans-serif; }

/* ^ sans-serif set **/
html.ie6 img.png {
  background-image: expression(this.runtimeStyle.backgroundImage = "none",       this.runtimeStyle.filter =       "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src +       "', sizingMethod='image')",       this.src = "/path/to/transparent.gif"     ); }
html.ie6 #menu {
  position: absolute; }
html.ie6 .thumb-it {
  top: 50%; }
html.ie6 .has-as,
html.ie6 .pjpTip .in {
  zoom: 1; }
html.ie6 .pjpTipStem {
  border-right-color: orange; }
html.ie6 #html #menu .js-fold-trigger {
  border-color: orange; }
html.ie6 .pjpTipStem,
html.ie6 #html #menu .js-fold-trigger {
  filter: chroma(color=orange); }
html.ie6 .dev {
  border: 1px solid red; }

html.ie7 #content .rows {
  zoom: 1; }
html.ie7 #logo a {
  display: inline;
  display: block; }
