<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}} {silexhibit:developer}</title>
    <link rel="stylesheet" href="/theme/style.css">
  </head>
  <body>
    <nav>
      <h1>{{title}} {silexhibit:developer}</h1>
    </nav>
    <figure>
      <figcaption>Post</figcaption>
      <pre>{{post}}</pre>
    </figure>
    <figure>
      <figcaption>Index</figcaption>
      <pre>{{index}}</pre>
    </figure>
  {{#debug_info}}
    <figure>
      <figcaption>Debug Info</figcaption>
      <pre>{{{.}}}</pre>
    </figure>
  {{/debug_info}}
  </body>
</html>
