<figure>
  <img class="thumb" src="{{thumb.url}}" width="{{thumb.width}}"
       height="{{thumb.height}}" />
  <figcaption>
    <a class="title inline" href="{{permalink}}" title="permalink"
       target="_blank" rel="bookmark">
      {{title}}
    </a>
    <span class="delim inline">|</span>
    <time datetime="{{date.pub}}" pubdate>{{date.human}}</time>
  </figcaption>
</figure>
