{{#link}}
<a class="permalink compound" href="{{link}}" rel="bookmark" target="_blank"
   data-tooltip="">
{{/link}}
  <article>
    <span class="title faux-link">{{title}}</span>
    <span class="delim">|</span>
    <time datetime="{{date.pub}}" pubdate>{{date.human}}</time>
  </article>
{{#link}}
</a>
{{/link}}
