<section class="exhibit-collection">
  <ol class="exhibit-sections">
  {{#sections}}
    <header>
      <h2 class="section-title">{{title}}</h2>
      <nav class="section-actions">
        <button class="section-edit" type="button"></button>
        <button class="section-delete" type="button"></button>
      </nav>
    </header>
    <ol class="section-exhibits"></ol>
  {{/sections}}
  </ol>
</section>
