<li class="exhibit-cell">
  <span class="exhibit-status"></span>
  <h3 class="exhibit-title">{{title}}</h3>
  <nav class="exhibit-actions">
    <button class="exhibit-edit" type="button">Edit</button>
    <button class="exhibit-preview" type="button">Preview</button>
    <button class="exhibit-publish" type="button">Publish</button>
  </nav>
</li>
