<form action="/st-exhibit-section/{{id}}">
  <div class="section-path">
    <label>Section Path</label>
    {{full_path}}
  </div>
  <div class="section-name" data-editable-type="inline" data-editable>
    <label>Section Name</label>
    <div class="text">{{name}}</div>
    <div class="input"><input name="name" type="text" /></div>
  </div>
  <div class="section-slug" data-editable-type="inline" data-editable>
    <label>URL Fragment (Slug) Name</label>
    <div class="text">{{slug}}</div>
    <div class="input"><input name="slug" type="text" /></div>
  </div>
  <div class="section-status">
    <label>Published</label>
    <input name="published" type="radio" value="on" />
    <input name="published" type="radio" value="off" />
  </div>
  <div class="show-section-title">
    <label>Show Section Title</label>
    <input name="published" type="radio" value="on" />
    <input name="published" type="radio" value="off" />
  </div>
  <nav class="section-actions">
    <button class="section-save" type="button">Save</button>
  </nav>
</form>
