<form class="exhibit-media-form">
  <div class="media-title" data-editable-type="inline" data-editable>
    <div class="text">{{title}}</div>
    <div class="input"><input type="text" name="title" /></div>
  </div>
  <div class="media-caption" data-editable-type="inline" data-editable>
    <div class="text">{{caption}}</div>
    <div class="input"><input type="text" name="caption" /></div>
  </div>
  <nav class="media-actions">
    <button class="media-expand" type="button">View Full Size</button>
    <button class="media-delete" type="button">Delete</button>
    <!-- Click outside to _cancel_. -->
    <!-- _Updates_ automatically. -->
  </nav>
</form>
