<div class="exhibit-section">{{section.title}}</div>
<div class="exhibit-title" data-editable-type="inline" data-editable>
  <label>Exhibit Title</label>
  <div class="text">{{title}}</div>
  <div class="input"><input name="title" type="text" /></div>
</div>
<nav class="exhibit-actions">
  <button class="exhibit-preview" type="button">Preview</button>
  <button class="exhibit-save" type="submit">Save</button>
  <button class="exhibit-delete" type="button">Delete</button>
</nav>
<div class="exhibit-html" data-exhibit-attribute="content"
  data-editable-editor="CodeMirror"
  data-editable-editor-options='{
    "mode": "htmlmixed",
    "indentUnit": 2,
    "tabSize": 2,
    "lineWrapping": true,
    "lineNumbers": true
  }'
  data-editable-type="editor" data-editable>
  <label>Exhibit HTML</label>
  {{>form_text_editor}}
</div>
<div class="exhibit-media">
  <label>Exhibit Media</label>
  <input name="media" type="file" />
  <dl class="media-requirements">
    <dt>File Types</dt>
    {{#file_types}}
      <dd>{{.}}</dd>
    {{/file_types}}
    <dt>Max File Size</dt>
      <dd>{{max_file_size}}</dd>
  </dl>
  <ol class="media-collection">
  {{#cards}}
    {{>exhibit_media_cell}}
  {{/cards}}
  {{^cards}}
    <li class="empty">No images</li>
  {{/cards}}
  </ol>
</div>
