<nav class="editor-toolbar">
{{#editor}}
  <div class="button-group">
    <button class="make-bold" type="button">Bold</button>
    <button class="make-italic" type="button">Italic</button>
    <button class="make-underlined" type="button">Underline</button>
  </div>
  <div class="button-group">
    <button class="link" type="button">Add Link</button>
    <!-- TODO: File uploading. -->
  </div>
{{/editor}}
</nav>
<div class="editor-markup">{{content}}</div>
