//
// Menu Module
// ===========
//
// Reserved menu selectors:
//
// - `.mn`
// - `.mn-h`
// - `.mn-v`

.mn {
  margin-left: 0;
  list-style:none;
  list-style-image: none;
  display: block;
  a {
    padding: .5em 1em;
    border-style: solid;
    border-width: 1px;
    line-height: 1.33em;
    text-decoration: none;
    html.ie6 & { zoom: 1; }
  }
}

.mn-h {
  @extend .mn;
  @extend .fix-c;
  li {
    float: left;
    &:first-child a { border-left-width: 1px; }
  }
  a {
    display: block;
    border-left-width: 0;
  }
  html.ie6 & {
    display: inline-block;
    height: 1%;
    display: block;
  }
}


.mn-v {
  @extend .mn;
  li {
    li { padding-left: 1em; }
//    &.aft-n a { border-top-width: 1px }
    &:first-child {
      a { border-top-width: 1px; }
      li a { border-top-width: 0; }
    }
    &:last-child a { border-bottom-width: 0; }
    html.ie6 & { zoom: 1; }
  }
  a {
    display: block;
    border-top-width: 0;
    html.ie6 & { display: inline; display: block; }
  }
}
